.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f5f5f5;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.nav {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 8px 0px;
}
.columns___9AoIs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 50px;
}
.columns___9AoIs > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 768px) {
  .columns___9AoIs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns___9AoIs > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 768px) {
  .columns___9AoIs > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column__c0Vs3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__hVjJj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__hVjJj > picture > img {
  object-fit: cover;
}
.img__hVjJj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__f4Ah {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___1UPv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: right;
  font-size: 17px;
  min-width: 0;
}
.headline {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1050px;
  margin-right: 0px;
  min-width: 0;
  padding: 50px 0px 50px 8px;
}
.text__bfLbt {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 60px;
  font-weight: 700;
  color: #202428;
  text-align: center;
  margin-bottom: 30px;
  min-width: 0;
}
.button__nurUt {
  position: relative;
  width: 357px;
  height: 62px;
  margin-bottom: 30px;
  color: #ffffff;
  background: #f35500;
  font-size: 21px;
  font-weight: 700;
  flex-shrink: 0;
}
.text__j4W5 {
  position: relative;
  width: 100%;
  height: auto;
  color: #000000;
  font-size: 38px;
  text-align: center;
  margin-bottom: 30px;
  min-width: 0;
}
.columns__ks5I5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 0px;
}
.columns__ks5I5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 768px) {
  .columns__ks5I5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__ks5I5 > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 768px) {
  .columns__ks5I5 > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column__ruErq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img__cO1I9 {
  position: relative;
  object-fit: contain;
  width: 123px;
  height: 19px;
  flex-shrink: 0;
}
.img__cO1I9 > picture > img {
  object-fit: contain;
}
.img__cO1I9 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.column__vRab0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text___1YdF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #626262;
  font-size: 18px;
  min-width: 0;
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 861px;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  background: #ffffff;
  margin-left: 70px;
  left: auto;
  top: auto;
  margin-bottom: 50px;
  border-radius: 12px;
  padding: 30px 50px 8px;
}
.asFeaturedIn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
  flex-shrink: 0;
}
.img__zrX0R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__zrX0R > picture > img {
  object-fit: cover;
}
.img__zrX0R > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__nbTtp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  margin-top: 30px;
  min-width: 0;
}
.img__rIep {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  height: auto;
  margin-top: 30px;
}
.img__rIep > picture > img {
  object-fit: cover;
}
.img__rIep > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__yh7L3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img__ltmoI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  height: auto;
  margin-top: 30px;
}
.img__ltmoI > picture > img {
  object-fit: cover;
}
.img__ltmoI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__w3UHa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img___9PByJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  height: auto;
  margin-top: 30px;
}
.img___9PByJ > picture > img {
  object-fit: cover;
}
.img___9PByJ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ldyb5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img__z2U6A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  margin-top: 30px;
}
.img__z2U6A > picture > img {
  object-fit: cover;
}
.img__z2U6A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__gR0JA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  padding-left: 0px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.ul__r2R7 {
  display: flex;
  flex-direction: column;
}
.ul__yfAyn {
  display: flex;
  flex-direction: column;
}
.ul__jgvKl {
  display: flex;
  flex-direction: column;
}
.img___8AIzj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  margin-top: 30px;
}
.img___8AIzj > picture > img {
  object-fit: cover;
}
.img___8AIzj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__lx1Ge {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__qtuMr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img___1Wnjr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  margin-top: 30px;
}
.img___1Wnjr > picture > img {
  object-fit: cover;
}
.img___1Wnjr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ri5SY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
.text__r1S6P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
.columns__zbPst {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  min-width: 0;
  padding: 0px;
}
.columns__zbPst > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 768px) {
  .columns__zbPst {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__zbPst > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__zbPst > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__zbPst > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__o8MAd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.button__puX8Y {
  position: relative;
  width: 100%;
  height: 62px;
  margin-bottom: 0px;
  color: #ffffff;
  background: #f35500;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
  flex-shrink: 0;
}
.column__xG3HY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___6Kw27 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___6Kw27 > picture > img {
  object-fit: cover;
}
.img___6Kw27 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__hsYge {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__jb48Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.img__uirkQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__uirkQ > picture > img {
  object-fit: cover;
}
.img__uirkQ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.reviews {
  display: block;
  position: fixed;
  width: 416px;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin-right: 70px;
  padding: 0px 0px 8px;
}
.review1 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 626px;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 20px;
}
.img__vk0R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.img__vk0R > picture > img {
  object-fit: cover;
}
.img__vk0R > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___4Gg5Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  margin-top: 15px;
  min-width: 0;
}
.img___9JYdc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___9JYdc > picture > img {
  object-fit: cover;
}
.img___9JYdc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__dWByZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 15px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.text__utfUg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 15px;
  color: #626262;
  font-style: italic;
  min-width: 0;
}
.review2 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 1050px;
  background: #ffffff;
  bottom: auto;
  min-width: 0;
  border-radius: 12px;
  padding: 20px;
}
.img__ackb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.img__ackb > picture > img {
  object-fit: cover;
}
.img__ackb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__nBoMg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  margin-top: 15px;
  min-width: 0;
}
.img__tuNc6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tuNc6 > picture > img {
  object-fit: cover;
}
.img__tuNc6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__qQwek {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 15px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.text__x25SV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 15px;
  color: #626262;
  font-style: italic;
  min-width: 0;
}
.review3 {
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 1430px;
  background: #ffffff;
  z-index: 1;
  min-width: 0;
  border-radius: 12px;
  padding: 20px;
}
.img__tEcRe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.img__tEcRe > picture > img {
  object-fit: cover;
}
.img__tEcRe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__nrAsV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  margin-top: 15px;
  min-width: 0;
}
.img__frzRz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__frzRz > picture > img {
  object-fit: cover;
}
.img__frzRz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__dxJk8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 15px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.text__syvyj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 15px;
  color: #626262;
  font-style: italic;
  min-width: 0;
}
.review4 {
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  left: 0px;
  top: 1810px;
  background: linear-gradient(#000000b3, #000000b3),
    url("/plasmic/copy_of_blog_lifehacksplus_com/images/_4B6E6Ed1Devicegif.gif") top 50% left 50% / cover repeat;
  height: auto;
  z-index: 1;
  min-width: 0;
  border-radius: 12px;
  padding: 40px;
}
.img__v84QD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  margin-top: 0px;
}
.img__v84QD > picture > img {
  object-fit: cover;
}
.img__v84QD > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__nKpU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 15px;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.text__zVgYg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
  padding-bottom: 0px;
  font-size: 39px;
  min-width: 0;
}
.text__sIlAu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 15px;
  color: #626262;
  font-style: normal;
  font-size: 23px;
  min-width: 0;
}
