@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Alegreya+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C800%3B1%2C900&display=swap");

.plasmic_default_styles {
  --mixin-hi2FdQClwaia8HB_font-family: "Inter", sans-serif;
  --mixin-hi2FdQClwaia8HB_font-size: 16px;
  --mixin-hi2FdQClwaia8HB_font-weight: 400;
  --mixin-hi2FdQClwaia8HB_font-style: normal;
  --mixin-hi2FdQClwaia8HB_color: #535353;
  --mixin-hi2FdQClwaia8HB_text-align: left;
  --mixin-hi2FdQClwaia8HB_text-transform: none;
  --mixin-hi2FdQClwaia8HB_line-height: 1.5;
  --mixin-hi2FdQClwaia8HB_letter-spacing: normal;
  --mixin-hi2FdQClwaia8HB_white-space: pre-wrap;
  --mixin-hi2FdQClwaia8HB_user-select: text;
  --mixin-hi2FdQClwaia8HB_text-decoration-line: none;
  --mixin-hi2FdQClwaia8HB_text-overflow: clip;
  --mixin-QjOK-doVR_79EY__color: #000000;
  --mixin-QjOK-doVR_79EY__font-size: 24px;
  --mixin-QjOK-doVR_79EY__font-weight: 600;
  --mixin-QjOK-doVR_79EY__letter-spacing: -0.5px;
  --mixin-QjOK-doVR_79EY__line-height: 1.3;
  --mixin-QjOK-doVR_79EY__white-space: pre-wrap;
  --mixin-5pIJu3oHZ7QZ_Tt_color: #000000;
  --mixin-5pIJu3oHZ7QZ_Tt_font-size: 20px;
  --mixin-5pIJu3oHZ7QZ_Tt_font-weight: 600;
  --mixin-5pIJu3oHZ7QZ_Tt_letter-spacing: -0.3px;
  --mixin-5pIJu3oHZ7QZ_Tt_line-height: 1.5;
  --mixin-5pIJu3oHZ7QZ_Tt_white-space: pre-wrap;
  --mixin-g5HyhlAKjr9CdRt_color: #000000;
  --mixin-g5HyhlAKjr9CdRt_font-size: 16px;
  --mixin-g5HyhlAKjr9CdRt_font-weight: 600;
  --mixin-g5HyhlAKjr9CdRt_line-height: 1.5;
  --mixin-g5HyhlAKjr9CdRt_white-space: pre-wrap;
  --mixin-ZG8CxWhZPBR5fCH_color: #0070f3;
  --mixin-ZG8CxWhZPBR5fCH_white-space: pre-wrap;
  --mixin-NBni8iDO_TWn-xC_border-left-color: #dddddd;
  --mixin-NBni8iDO_TWn-xC_border-left-style: solid;
  --mixin-NBni8iDO_TWn-xC_border-left-width: 3px;
  --mixin-NBni8iDO_TWn-xC_color: #888888;
  --mixin-NBni8iDO_TWn-xC_padding-left: 10px;
  --mixin-NBni8iDO_TWn-xC_white-space: pre-wrap;
  --mixin-KLvJyppYpK6hY5b_color: #000000;
  --mixin-KLvJyppYpK6hY5b_font-size: 72px;
  --mixin-KLvJyppYpK6hY5b_font-weight: 900;
  --mixin-KLvJyppYpK6hY5b_letter-spacing: -4px;
  --mixin-KLvJyppYpK6hY5b_line-height: 1;
  --mixin-KLvJyppYpK6hY5b_white-space: pre-wrap;
  --mixin-X_FiGCE9aXOiqku_color: #000000;
  --mixin-X_FiGCE9aXOiqku_font-size: 48px;
  --mixin-X_FiGCE9aXOiqku_font-weight: 700;
  --mixin-X_FiGCE9aXOiqku_letter-spacing: -1px;
  --mixin-X_FiGCE9aXOiqku_line-height: 1.1;
  --mixin-X_FiGCE9aXOiqku_white-space: pre-wrap;
  --mixin-1WpiFav5Dr6FDGM_color: #000000;
  --mixin-1WpiFav5Dr6FDGM_font-size: 32px;
  --mixin-1WpiFav5Dr6FDGM_font-weight: 600;
  --mixin-1WpiFav5Dr6FDGM_letter-spacing: -0.8px;
  --mixin-1WpiFav5Dr6FDGM_line-height: 1.2;
  --mixin-1WpiFav5Dr6FDGM_white-space: pre-wrap;
  --mixin-pSKzEZrXZkEwzYf_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-pSKzEZrXZkEwzYf_border-bottom-color: #dddddd;
  --mixin-pSKzEZrXZkEwzYf_border-bottom-style: solid;
  --mixin-pSKzEZrXZkEwzYf_border-bottom-width: 1px;
  --mixin-pSKzEZrXZkEwzYf_border-left-color: #dddddd;
  --mixin-pSKzEZrXZkEwzYf_border-left-style: solid;
  --mixin-pSKzEZrXZkEwzYf_border-left-width: 1px;
  --mixin-pSKzEZrXZkEwzYf_border-right-color: #dddddd;
  --mixin-pSKzEZrXZkEwzYf_border-right-style: solid;
  --mixin-pSKzEZrXZkEwzYf_border-right-width: 1px;
  --mixin-pSKzEZrXZkEwzYf_border-top-color: #dddddd;
  --mixin-pSKzEZrXZkEwzYf_border-top-style: solid;
  --mixin-pSKzEZrXZkEwzYf_border-top-width: 1px;
  --mixin-pSKzEZrXZkEwzYf_border-bottom-left-radius: 3px;
  --mixin-pSKzEZrXZkEwzYf_border-bottom-right-radius: 3px;
  --mixin-pSKzEZrXZkEwzYf_border-top-left-radius: 3px;
  --mixin-pSKzEZrXZkEwzYf_border-top-right-radius: 3px;
  --mixin-pSKzEZrXZkEwzYf_font-family: "Inconsolata";
  --mixin-pSKzEZrXZkEwzYf_padding-bottom: 1px;
  --mixin-pSKzEZrXZkEwzYf_padding-left: 4px;
  --mixin-pSKzEZrXZkEwzYf_padding-right: 4px;
  --mixin-pSKzEZrXZkEwzYf_padding-top: 1px;
  --mixin-pSKzEZrXZkEwzYf_white-space: pre-wrap;
  --mixin-GvoJXqWTijOXi9F_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-GvoJXqWTijOXi9F_border-bottom-color: #dddddd;
  --mixin-GvoJXqWTijOXi9F_border-bottom-style: solid;
  --mixin-GvoJXqWTijOXi9F_border-bottom-width: 1px;
  --mixin-GvoJXqWTijOXi9F_border-left-color: #dddddd;
  --mixin-GvoJXqWTijOXi9F_border-left-style: solid;
  --mixin-GvoJXqWTijOXi9F_border-left-width: 1px;
  --mixin-GvoJXqWTijOXi9F_border-right-color: #dddddd;
  --mixin-GvoJXqWTijOXi9F_border-right-style: solid;
  --mixin-GvoJXqWTijOXi9F_border-right-width: 1px;
  --mixin-GvoJXqWTijOXi9F_border-top-color: #dddddd;
  --mixin-GvoJXqWTijOXi9F_border-top-style: solid;
  --mixin-GvoJXqWTijOXi9F_border-top-width: 1px;
  --mixin-GvoJXqWTijOXi9F_border-bottom-left-radius: 3px;
  --mixin-GvoJXqWTijOXi9F_border-bottom-right-radius: 3px;
  --mixin-GvoJXqWTijOXi9F_border-top-left-radius: 3px;
  --mixin-GvoJXqWTijOXi9F_border-top-right-radius: 3px;
  --mixin-GvoJXqWTijOXi9F_font-family: "Inconsolata";
  --mixin-GvoJXqWTijOXi9F_padding-bottom: 3px;
  --mixin-GvoJXqWTijOXi9F_padding-left: 6px;
  --mixin-GvoJXqWTijOXi9F_padding-right: 6px;
  --mixin-GvoJXqWTijOXi9F_padding-top: 3px;
  --mixin-GvoJXqWTijOXi9F_white-space: pre-wrap;
  --mixin-8RrHooH1yZhx7Mc_display: flex;
  --mixin-8RrHooH1yZhx7Mc_flex-direction: column;
  --mixin-8RrHooH1yZhx7Mc_align-items: stretch;
  --mixin-8RrHooH1yZhx7Mc_justify-content: flex-start;
  --mixin-8RrHooH1yZhx7Mc_list-style-position: outside;
  --mixin-8RrHooH1yZhx7Mc_padding-left: 40px;
  --mixin-8RrHooH1yZhx7Mc_position: relative;
  --mixin-8RrHooH1yZhx7Mc_list-style-type: decimal;
  --mixin-8RrHooH1yZhx7Mc_white-space: pre-wrap;
  --mixin-4OwCu-khyNf6JSU_display: flex;
  --mixin-4OwCu-khyNf6JSU_flex-direction: column;
  --mixin-4OwCu-khyNf6JSU_align-items: stretch;
  --mixin-4OwCu-khyNf6JSU_justify-content: flex-start;
  --mixin-4OwCu-khyNf6JSU_list-style-position: outside;
  --mixin-4OwCu-khyNf6JSU_padding-left: 40px;
  --mixin-4OwCu-khyNf6JSU_position: relative;
  --mixin-4OwCu-khyNf6JSU_list-style-type: disc;
  --mixin-4OwCu-khyNf6JSU_white-space: pre-wrap;
  --mixin-ua--8nnvgz1p5cT_color: #3291ff;
  --mixin-ua--8nnvgz1p5cT_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-hi2FdQClwaia8HB_font-family);
  font-size: var(--mixin-hi2FdQClwaia8HB_font-size);
  font-weight: var(--mixin-hi2FdQClwaia8HB_font-weight);
  font-style: var(--mixin-hi2FdQClwaia8HB_font-style);
  color: var(--mixin-hi2FdQClwaia8HB_color);
  text-align: var(--mixin-hi2FdQClwaia8HB_text-align);
  text-transform: var(--mixin-hi2FdQClwaia8HB_text-transform);
  line-height: var(--mixin-hi2FdQClwaia8HB_line-height);
  letter-spacing: var(--mixin-hi2FdQClwaia8HB_letter-spacing);
  white-space: var(--mixin-hi2FdQClwaia8HB_white-space);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-QjOK-doVR_79EY__color);
  font-size: var(--mixin-QjOK-doVR_79EY__font-size);
  font-weight: var(--mixin-QjOK-doVR_79EY__font-weight);
  letter-spacing: var(--mixin-QjOK-doVR_79EY__letter-spacing);
  line-height: var(--mixin-QjOK-doVR_79EY__line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-5pIJu3oHZ7QZ_Tt_color);
  font-size: var(--mixin-5pIJu3oHZ7QZ_Tt_font-size);
  font-weight: var(--mixin-5pIJu3oHZ7QZ_Tt_font-weight);
  letter-spacing: var(--mixin-5pIJu3oHZ7QZ_Tt_letter-spacing);
  line-height: var(--mixin-5pIJu3oHZ7QZ_Tt_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-g5HyhlAKjr9CdRt_color);
  font-size: var(--mixin-g5HyhlAKjr9CdRt_font-size);
  font-weight: var(--mixin-g5HyhlAKjr9CdRt_font-weight);
  line-height: var(--mixin-g5HyhlAKjr9CdRt_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-ZG8CxWhZPBR5fCH_color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-NBni8iDO_TWn-xC_color);
  padding-left: var(--mixin-NBni8iDO_TWn-xC_padding-left);
  border-left: var(--mixin-NBni8iDO_TWn-xC_border-left-width)
    var(--mixin-NBni8iDO_TWn-xC_border-left-style)
    var(--mixin-NBni8iDO_TWn-xC_border-left-color);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-KLvJyppYpK6hY5b_color);
  font-size: var(--mixin-KLvJyppYpK6hY5b_font-size);
  font-weight: var(--mixin-KLvJyppYpK6hY5b_font-weight);
  letter-spacing: var(--mixin-KLvJyppYpK6hY5b_letter-spacing);
  line-height: var(--mixin-KLvJyppYpK6hY5b_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-X_FiGCE9aXOiqku_color);
  font-size: var(--mixin-X_FiGCE9aXOiqku_font-size);
  font-weight: var(--mixin-X_FiGCE9aXOiqku_font-weight);
  letter-spacing: var(--mixin-X_FiGCE9aXOiqku_letter-spacing);
  line-height: var(--mixin-X_FiGCE9aXOiqku_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-1WpiFav5Dr6FDGM_color);
  font-size: var(--mixin-1WpiFav5Dr6FDGM_font-size);
  font-weight: var(--mixin-1WpiFav5Dr6FDGM_font-weight);
  letter-spacing: var(--mixin-1WpiFav5Dr6FDGM_letter-spacing);
  line-height: var(--mixin-1WpiFav5Dr6FDGM_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-pSKzEZrXZkEwzYf_font-family);
  border-radius: var(--mixin-pSKzEZrXZkEwzYf_border-top-left-radius)
    var(--mixin-pSKzEZrXZkEwzYf_border-top-right-radius)
    var(--mixin-pSKzEZrXZkEwzYf_border-bottom-right-radius)
    var(--mixin-pSKzEZrXZkEwzYf_border-bottom-left-radius);
  padding: var(--mixin-pSKzEZrXZkEwzYf_padding-top)
    var(--mixin-pSKzEZrXZkEwzYf_padding-right)
    var(--mixin-pSKzEZrXZkEwzYf_padding-bottom)
    var(--mixin-pSKzEZrXZkEwzYf_padding-left);
  border-top: var(--mixin-pSKzEZrXZkEwzYf_border-top-width)
    var(--mixin-pSKzEZrXZkEwzYf_border-top-style)
    var(--mixin-pSKzEZrXZkEwzYf_border-top-color);
  border-right: var(--mixin-pSKzEZrXZkEwzYf_border-right-width)
    var(--mixin-pSKzEZrXZkEwzYf_border-right-style)
    var(--mixin-pSKzEZrXZkEwzYf_border-right-color);
  border-bottom: var(--mixin-pSKzEZrXZkEwzYf_border-bottom-width)
    var(--mixin-pSKzEZrXZkEwzYf_border-bottom-style)
    var(--mixin-pSKzEZrXZkEwzYf_border-bottom-color);
  border-left: var(--mixin-pSKzEZrXZkEwzYf_border-left-width)
    var(--mixin-pSKzEZrXZkEwzYf_border-left-style)
    var(--mixin-pSKzEZrXZkEwzYf_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-GvoJXqWTijOXi9F_font-family);
  border-radius: var(--mixin-GvoJXqWTijOXi9F_border-top-left-radius)
    var(--mixin-GvoJXqWTijOXi9F_border-top-right-radius)
    var(--mixin-GvoJXqWTijOXi9F_border-bottom-right-radius)
    var(--mixin-GvoJXqWTijOXi9F_border-bottom-left-radius);
  padding: var(--mixin-GvoJXqWTijOXi9F_padding-top)
    var(--mixin-GvoJXqWTijOXi9F_padding-right)
    var(--mixin-GvoJXqWTijOXi9F_padding-bottom)
    var(--mixin-GvoJXqWTijOXi9F_padding-left);
  border-top: var(--mixin-GvoJXqWTijOXi9F_border-top-width)
    var(--mixin-GvoJXqWTijOXi9F_border-top-style)
    var(--mixin-GvoJXqWTijOXi9F_border-top-color);
  border-right: var(--mixin-GvoJXqWTijOXi9F_border-right-width)
    var(--mixin-GvoJXqWTijOXi9F_border-right-style)
    var(--mixin-GvoJXqWTijOXi9F_border-right-color);
  border-bottom: var(--mixin-GvoJXqWTijOXi9F_border-bottom-width)
    var(--mixin-GvoJXqWTijOXi9F_border-bottom-style)
    var(--mixin-GvoJXqWTijOXi9F_border-bottom-color);
  border-left: var(--mixin-GvoJXqWTijOXi9F_border-left-width)
    var(--mixin-GvoJXqWTijOXi9F_border-left-style)
    var(--mixin-GvoJXqWTijOXi9F_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-8RrHooH1yZhx7Mc_display);
  flex-direction: var(--mixin-8RrHooH1yZhx7Mc_flex-direction);
  align-items: var(--mixin-8RrHooH1yZhx7Mc_align-items);
  justify-content: var(--mixin-8RrHooH1yZhx7Mc_justify-content);
  list-style-position: var(--mixin-8RrHooH1yZhx7Mc_list-style-position);
  padding-left: var(--mixin-8RrHooH1yZhx7Mc_padding-left);
  position: var(--mixin-8RrHooH1yZhx7Mc_position);
  list-style-type: var(--mixin-8RrHooH1yZhx7Mc_list-style-type);
  flex-column-gap: var(--mixin-8RrHooH1yZhx7Mc_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-4OwCu-khyNf6JSU_display);
  flex-direction: var(--mixin-4OwCu-khyNf6JSU_flex-direction);
  align-items: var(--mixin-4OwCu-khyNf6JSU_align-items);
  justify-content: var(--mixin-4OwCu-khyNf6JSU_justify-content);
  list-style-position: var(--mixin-4OwCu-khyNf6JSU_list-style-position);
  padding-left: var(--mixin-4OwCu-khyNf6JSU_padding-left);
  position: var(--mixin-4OwCu-khyNf6JSU_position);
  list-style-type: var(--mixin-4OwCu-khyNf6JSU_list-style-type);
  flex-column-gap: var(--mixin-4OwCu-khyNf6JSU_flex-column-gap);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-ua--8nnvgz1p5cT_color);
}
