.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: stretch;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.httpsbloglifehackspluscom {
  background: rgba(255, 255, 255, 1);
  width: 1512px;
  display: flex;
  height: 100%;
  flex-grow: 0;
  flex-direction: column;
  min-height: 0;
}
.div2 {
  background: #f5f5f5;
  transform: translate(0px, -0.5px);
  width: 1512px;
  height: 5904px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.div3 {
  background: rgba(245, 245, 245, 1);
  width: 1512px;
  height: 356px;
  display: block;
  position: absolute;
  top: 50px;
  left: 0px;
}
.div4 {
  width: 1336px;
  height: 356px;
  display: block;
  position: absolute;
  top: 0px;
  left: 88px;
}
.h1 {
  width: 1306px;
  height: 130px;
  display: block;
  position: absolute;
  top: 0px;
  left: 15px;
}
.wantAllTheJoyOfInhalationBut {
  position: absolute;
  top: -6px;
  left: 139px;
  width: 1028px;
  height: 77px;
  transform: translate(0.39799999999999613px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__kefhe {
  display: block;
  font-size: 60px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 65px;
  color: rgba(32, 36, 40, 1);
}
.br {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  position: absolute;
  top: -6px;
  left: 1167px;
  width: 1px;
  height: 77px;
  transform: translate(-0.4069999999999254px, 0px);
}
.noneOfTheHealthCompromises {
  position: absolute;
  top: 59px;
  left: 135px;
  width: 1036px;
  height: 77px;
  transform: translate(0.4679999999999893px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___8Lbd1 {
  display: block;
  font-size: 60px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 65px;
  color: #202428;
}
.inhaleRelaxEnjoyYourDailyVitaminBoost {
  position: absolute;
  top: 145px;
  left: 250px;
  width: 836px;
  height: 50px;
  transform: translate(0.4759999999999991px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hJ5Yg {
  display: block;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.aget1 {
  background: #f35500;
  transform: translate(0.3509999999999991px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 230px;
  left: 489px;
  flex-direction: row;
  border-radius: 3px;
  padding: 20.437px 45px 20.5px;
}
.aget1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 13.289px);
  width: calc(100% + 13.289px);
}
.aget1 > :global(.__wab_flex-container) > *,
.aget1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.aget1 > :global(.__wab_flex-container) > picture > img,
.aget1 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 13.289px;
}
.text___95Hu9 {
  display: block;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.fingericonpng {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/fingericonpng.png") 0px 0px / 22px 14px no-repeat;
  width: 22px;
  height: 15px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.reviews:global(.__wab_instance) {
  position: absolute;
  top: 331px;
  left: 15px;
}
.div6 {
  transform: translate(0px, -0.06299999999998818px);
  width: 1336px;
  height: 5408px;
  display: block;
  position: absolute;
  top: 446px;
  left: 88px;
}
.div7 {
  background: rgba(255, 255, 255, 1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 861px;
  height: 5408px;
  display: block;
  position: absolute;
  top: 0px;
  left: 15px;
}
.asFeaturedIn:global(.__wab_instance) {
  position: absolute;
  top: 20px;
  left: 50px;
}
.imagineAWorldWhereYouCouldInhaleVitaminsMineralsAndAntioxidantsToImproveYourWellBeing {
  position: absolute;
  top: 96px;
  left: 50px;
  width: 724px;
  height: 45px;
  transform: translate(0px, 0.4140000000000015px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hB7Ni {
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.thinkAboutWhatItWouldBeLikeToNeverHaveToSufferAgainThroughTheJittersAndAnxietyThatTraditionalInhalationMethodsBring {
  position: absolute;
  top: 181px;
  left: 50px;
  width: 723px;
  height: 45px;
  transform: translate(0px, 0.41399999999998727px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__l1EuO {
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: #626262;
}
.whatIfYoullNoLongerHaveToChooseBetweenYourHabitOrQuittingOrFeelLikeYouAreCompromisingOnHealthJustToGetTheThroatHitAndFlavorYouEnjoy {
  position: absolute;
  top: 266px;
  left: 50px;
  width: 665px;
  height: 45px;
  transform: translate(0px, 0.41399999999998727px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__fSodi {
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.allOfTheAboveIsPossibleWithSparqsVitaminAir {
  position: absolute;
  top: 344px;
  left: 50px;
  width: 652px;
  height: 100px;
  transform: translate(0px, -0.08600000000001273px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__iV9G2 {
  display: block;
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.midbannerjpg {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/midbannerjpg.jpeg") 0px 0px / 761px 861px no-repeat;
  transform: translate(0px, -0.08600000000001273px);
  height: 862px;
  display: block;
  position: absolute;
  top: 474px;
  left: 50px;
  right: 50px;
  overflow: hidden;
}
.whenYouMakeTheSwitchToSparqYoureChoosingToGoBeyondYourTypicalInhalationExperience {
  position: absolute;
  top: 1371px;
  left: 50px;
  width: 716px;
  height: 50px;
  transform: translate(0px, -0.43000000000006366px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__t8RTf {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(146, 135, 105, 1);
}
.withSparqsVitaminAirYouDontHaveToChooseBetweenStayingHealthyAndTreatingYourselfInsteadYouCanLeadAHealthyLifestyleWhileAlsoQuenchingYourThirstForThatTrulySatisfyingHit {
  position: absolute;
  top: 1460px;
  left: 50px;
  width: 727px;
  height: 45px;
  transform: translate(0px, -0.43000000000006366px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__yes3U {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.youCanEnjoyDeliciousHittingFlavorsInTheFormOfASlimCompactAndOdorlessDeviceWhileDeliveringNutrientsAndBotanicalsToYourBodyTheyWillGiveYouEnergyMentalClarityBoostYourMetabolismAndProtectYourBodyAgainstAging {
  position: absolute;
  top: 1545px;
  left: 50px;
  width: 745px;
  height: 70px;
  transform: translate(0px, -0.43000000000006366px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__vxyaB {
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.sparqProvidesASatisfyingInhalationExperienceWithoutAnyOfTheHarmfulChemicalsOrStimulants {
  position: absolute;
  top: 1655px;
  left: 50px;
  width: 745px;
  height: 20px;
  transform: translate(0px, -0.43000000000006366px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hZaXd {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.strong {
  transform: translate(0px, 0.06999999999993634px);
  width: 654px;
  height: 100px;
  display: block;
  position: absolute;
  top: 1707px;
  left: 50px;
}
.text__fbNwM {
  display: block;
  font-size: 39px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 0px;
}
.br2 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  position: absolute;
  top: 0px;
  left: 653px;
  transform: translate(0.3590000000000373px, 0px);
}
.text___1JB {
  display: block;
  font-size: 38px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 52px;
  left: 0px;
}
.div9 {
  transform: translate(0px, 0.06999999999993634px);
  width: 761px;
  height: 475px;
  display: block;
  position: absolute;
  top: 1837px;
  left: 50px;
}
.div10 {
  width: 761px;
  height: 270px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.ifYoureTryingToQuitItCanFeelLikeEveryCravingIsAnotherInsurmountableProblemToFaceEvenIfYouveManagedToGoSeveralDaysWeeksOrMonthsWithoutCavingYouStillCraveThatPuffthatThroatHitthatOhSoSatisfyingFlavor {
  position: absolute;
  top: 3px;
  left: 55px;
  width: 701px;
  height: 70px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___9HIXo {
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.weKnowNicIsAddictivebutDidYouKnowItsTheOralFixationThatKeepsBringingYouBackWhenYouDropTheHabitNicIsOutOfYourSystemIn72HoursButTheOralFixationCanLastInTheBrainForUpTo10Years {
  position: absolute;
  top: 113px;
  left: 55px;
  width: 696px;
  height: 70px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__wFfsa {
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.thatsWhyNoMatterHowManyTimesYouTryYouFindYourselfGoingBackToYourOldHabitAgainAndAgainFortunatelyWeveGotTheAlternativeThatWillBreakThisRepetitivePattern {
  position: absolute;
  top: 223px;
  left: 55px;
  width: 679px;
  height: 45px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hkGzZ {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
._1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 34px;
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__zgaEc {
  display: block;
  font-size: 29px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(146, 135, 105, 1);
}
.div11 {
  width: 761px;
  height: 185px;
  display: block;
  position: absolute;
  top: 290px;
  left: 0px;
}
.theWorldIsYourOysterAndYouWantNothingLessThanToEnjoyItToTheFullestExtentMaybeYoureNotIntoUsingInhalationDevicesButYouveAlwaysBeenCuriousAsToWhatAllTheHypeIsAboutSparqOffersThePerfectOptionForTheCuriousSpiritAllOfTheEnjoymentAndFlavorsOfTraditionalProductsdevicesButWithoutTheHarmfulChemicalsOrAddictiveStimulants {
  position: absolute;
  top: 3px;
  left: 55px;
  width: 702px;
  height: 95px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__y6ToC {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.naturalFlavoringThatIsIntenselyDeliciousVitaminsAminoAcidsAndBotanicalsAllWrappedInADeviceDesignedToProvideASuperiorInhalationExperience {
  position: absolute;
  top: 138px;
  left: 55px;
  width: 706px;
  height: 45px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__epL95 {
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
._2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hV53W {
  display: block;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(146, 135, 105, 1);
}
.h3 {
  transform: translate(0px, 0.07000000000016371px);
  width: 761px;
  height: 116px;
  display: block;
  position: absolute;
  top: 2342px;
  left: 50px;
}
.sparqHasTheAnswersYoure {
  position: absolute;
  top: 16px;
  left: 0px;
  width: 585px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hcgj8 {
  display: block;
  font-size: 39px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.br3 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  position: absolute;
  top: 16px;
  left: 584px;
  width: 1px;
  height: 50px;
  transform: translate(0.053999999999973625px, 0px);
}
.lookingFor {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 226px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__zRwFg {
  display: block;
  font-size: 38px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.ul {
  transform: translate(0px, 0.07000000000016371px);
  width: 761px;
  height: 250px;
  display: block;
  position: absolute;
  top: 2488px;
  left: 50px;
}
.li {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/li2.png") 0px 8px / 8px 8px no-repeat;
  width: 761px;
  height: 25px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.getRidOfThoseNicCravingsWhilstStillEnjoyingThatStrongAndIntenseThroatHit {
  position: absolute;
  top: 3px;
  left: 18px;
  width: 603px;
  height: 20px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___6A1En {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.li2 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/li2.png") 0px 8px / 8px 8px no-repeat;
  width: 761px;
  height: 25px;
  display: block;
  position: absolute;
  top: 45px;
  left: 0px;
}
.satisfyYourOralFixationWithoutConsumingToxicSubstancesOrHarmfulChemicals {
  position: absolute;
  top: 3px;
  left: 18px;
  width: 613px;
  height: 20px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__xkhQx {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.li3 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/li2.png") 0px 8px / 8px 8px no-repeat;
  width: 761px;
  height: 25px;
  display: block;
  position: absolute;
  top: 90px;
  left: 0px;
}
.replaceThoseHarmfulChemicalsWithVitaminsAminoAcidsAndBotanicals {
  position: absolute;
  top: 3px;
  left: 18px;
  width: 564px;
  height: 20px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__gMul {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.li4 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/li2.png") 0px 8px / 8px 8px no-repeat;
  width: 761px;
  height: 25px;
  display: block;
  position: absolute;
  top: 135px;
  left: 0px;
}
.promoteDeepBreathingAndRelieveAnxietyWithEachVitaminInfusedInhalation {
  position: absolute;
  top: 3px;
  left: 18px;
  width: 602px;
  height: 20px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__b0NEl {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.li5 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/li2.png") 0px 8px / 8px 8px no-repeat;
  width: 761px;
  height: 25px;
  display: block;
  position: absolute;
  top: 180px;
  left: 0px;
}
.enjoyAHealthierAlternativeWithoutGivingUpYourHabit {
  position: absolute;
  top: 3px;
  left: 18px;
  width: 422px;
  height: 20px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__uckxy {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.li6 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/li2.png") 0px 8px / 8px 8px no-repeat;
  width: 761px;
  height: 25px;
  display: block;
  position: absolute;
  top: 225px;
  left: 0px;
}
.takeYourDeviceEverywhereWithItsUltramodernAndCompactDesignAndUseItAnytimeYouWant {
  position: absolute;
  top: 3px;
  left: 18px;
  width: 743px;
  height: 20px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__vXqgI {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.table {
  transform: translate(0px, 0.07000000000016371px);
  height: 318px;
  display: block;
  position: absolute;
  top: 2788px;
  left: 50px;
  right: 50px;
}
.tbody {
  transform: translate(-0.5px, -0.5px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 1px;
  left: 1px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tr {
  width: 760px;
  height: 59px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.th {
  background: rgba(243, 243, 243, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  height: 59px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 456px;
}
.th2 {
  background: rgba(147, 137, 106, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  transform: translate(-0.14100000000001955px, 0px);
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 304px;
  right: 228px;
  flex-direction: row;
  width: auto;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.5px 83.648px 17px 83.25px;
}
.text___4DTjm {
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.th3 {
  background: rgba(243, 243, 243, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  transform: translate(-0.24300000000005184px, 0px);
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 532px;
  right: 0px;
  flex-direction: row;
  width: auto;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.5px 39.148px 17px 39.757px;
}
.text__f8OTp {
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(98, 98, 98, 1);
  position: relative;
}
.tr2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.td {
  background: rgba(243, 243, 243, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.539px 121.359px 17.039px 18.5px;
}
.text__qhJia {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.td2 {
  background: rgba(147, 137, 106, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 17.515px 104.453px 17.515px 104.445px;
}
.tickpng {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/tickpng.png") 0px 0px / 19px 17px no-repeat;
  width: 19px;
  height: 17px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.td3 {
  background: rgba(243, 243, 243, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.5px 104.453px;
}
.crosspng {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/crosspng.png") 0px 0px / 19px 21px no-repeat;
  width: 19px;
  height: 21px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tr3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.td4 {
  background: rgba(243, 243, 243, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.539px 83.359px 17.039px 18.5px;
}
.text__lxu6R {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.td5 {
  background: rgba(147, 137, 106, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 17.515px 104.453px 17.515px 104.445px;
}
.tickpng2 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/tickpng.png") 0px 0px / 19px 17px no-repeat;
  width: 19px;
  height: 17px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.td6 {
  background: rgba(243, 243, 243, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.5px 104.453px;
}
.crosspng2 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/crosspng.png") 0px 0px / 19px 21px no-repeat;
  width: 19px;
  height: 21px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tr4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.td7 {
  background: rgba(243, 243, 243, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.539px 111.359px 17.039px 18.5px;
}
.text__jTbym {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.td8 {
  background: rgba(147, 137, 106, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 17.515px 104.453px 17.515px 104.445px;
}
.tickpng3 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/tickpng.png") 0px 0px / 19px 17px no-repeat;
  width: 19px;
  height: 17px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.td9 {
  background: rgba(243, 243, 243, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.5px 104.453px;
}
.crosspng3 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/crosspng.png") 0px 0px / 19px 21px no-repeat;
  width: 19px;
  height: 21px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tr5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.td10 {
  background: rgba(243, 243, 243, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.539px 158.359px 18.039px 18.5px;
}
.text__n7Phu {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.td11 {
  background: rgba(147, 137, 106, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 17.515px 104.453px 17.515px 104.445px;
}
.tickpng4 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/tickpng.png") 0px 0px / 19px 17px no-repeat;
  width: 19px;
  height: 17px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.td12 {
  background: rgba(243, 243, 243, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.5px 104.453px;
}
.crosspng4 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/crosspng.png") 0px 0px / 19px 21px no-repeat;
  width: 19px;
  height: 21px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tr6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.td13 {
  background: rgba(243, 243, 243, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.539px 133.359px 17.039px 18.5px;
}
.text___7V0Vo {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.td14 {
  background: rgba(147, 137, 106, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 17.515px 104.453px 17.515px 104.445px;
}
.tickpng5 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/tickpng.png") 0px 0px / 19px 17px no-repeat;
  width: 19px;
  height: 17px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.td15 {
  background: rgba(243, 243, 243, 1);
  box-shadow: inset 0px 0px 0px undefinedpx rgba(219, 219, 219, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.5px 104.453px;
}
.crosspng5 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/crosspng.png") 0px 0px / 19px 21px no-repeat;
  width: 19px;
  height: 21px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.happyQuittersVitaminLoversAndHealthyChoiceFollowersCantStopTalkingAboutVitaminAir {
  position: absolute;
  top: 3155px;
  left: 50px;
  width: 694px;
  height: 150px;
  transform: translate(0px, 0.4600000000000364px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rxFuo {
  display: block;
  font-size: 39px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.reviewpng {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/reviewpng.png") 0px 0px / 623px 491px no-repeat;
  transform: translate(0px, 0.4600000000000364px);
  width: 623px;
  height: 491px;
  display: block;
  position: absolute;
  top: 3335px;
  left: 50px;
  overflow: hidden;
}
.tryAll3FormulationsAnd {
  position: absolute;
  top: 3856px;
  left: 50px;
  width: 515px;
  height: 50px;
  transform: translate(0px, 0.4600000000000364px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___2TWZ {
  display: block;
  font-size: 38px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.wellGiveYouThe3rdDeviceFree {
  position: absolute;
  top: 3916px;
  left: 50px;
  width: 510px;
  height: 37px;
  transform: translate(0px, 0.4600000000000364px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__xroHr {
  display: block;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
}
.divprodarea {
  transform: translate(0px, 0.4600000000000364px);
  width: 761px;
  height: 519px;
  display: block;
  position: absolute;
  top: 3978px;
  left: 50px;
}
.div12 {
  width: 679px;
  height: 423px;
  display: block;
  position: absolute;
  top: 48px;
  left: 41px;
}
.div13 {
  transform: translate(0.006999999999999673px, 0px);
  width: 213px;
  height: 423px;
  display: block;
  position: absolute;
  top: 0px;
  left: 7px;
}
.prodimagepng {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/prodimagepng.png") 0px 0px / 176px 422px no-repeat;
  width: 177px;
  height: 423px;
  display: block;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.div14 {
  background: rgba(253, 204, 3, 1);
  transform: translate(-0.391px, 0.11699999999999022px);
  width: 180px;
  height: 70px;
  display: block;
  position: absolute;
  top: 176px;
  left: 15px;
  border-radius: 50px;
}
.buy2Get1 {
  position: absolute;
  top: 12px;
  left: 30px;
  width: 121px;
  height: 26px;
  transform: translate(-0.06299999999999883px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__n9PMh {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.free {
  position: absolute;
  top: 38px;
  left: 64px;
  width: 53px;
  height: 27px;
  transform: translate(-0.1880000000000024px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___52WB4 {
  display: block;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.div15 {
  transform: translate(0.2259999999999991px, 0.375px);
  width: 439px;
  height: 412px;
  display: block;
  position: absolute;
  top: 5px;
  left: 233px;
}
.specialOffer {
  position: absolute;
  top: 0px;
  left: 65px;
  width: 310px;
  height: 50px;
  transform: translate(-0.3050000000000068px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___34MYg {
  display: block;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(246, 41, 41, 1);
}
.freeVitaminAir {
  position: absolute;
  top: 55px;
  left: 109px;
  width: 222px;
  height: 31px;
  transform: translate(-0.4539999999999935px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__mGla0 {
  display: block;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(32, 36, 40, 1);
}
.moneyBackGuaranteeBetterFlavorHarderHitsOrYourMoneyBack {
  position: absolute;
  top: 104px;
  left: 33px;
  width: 372px;
  height: 47px;
  transform: translate(0.4209999999999994px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__aBhYd {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
}
.div16 {
  width: 393px;
  height: 91px;
  display: block;
  position: absolute;
  top: 188px;
  left: 23px;
}
.chooseFlavor {
  position: absolute;
  top: 36px;
  right: 235px;
  width: 132px;
  height: 19px;
  transform: translate(-0.41499999999999915px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__msTIf {
  display: block;
  font-size: 15px;
  text-align: right;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.div17 {
  transform: translate(-0.48500000000001364px, 0px);
  width: 215px;
  height: 91px;
  display: block;
  position: absolute;
  top: 0px;
  left: 171px;
}
.div18 {
  transform: translate(0.3819999999999997px, 0px);
  width: 90px;
  height: 91px;
  display: block;
  position: absolute;
  top: 0px;
  left: 10px;
}
.div19 {
  background: rgba(249, 85, 125, 1);
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0px;
  left: 15px;
  overflow: hidden;
  border-radius: 60px;
}
.div20 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/div2.png") 15px 18px / 25px 17px no-repeat;
  box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
  width: 54px;
  height: 54px;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 54px;
}
.strawberry {
  position: absolute;
  top: 70px;
  left: 2px;
  width: 86px;
  height: 21px;
  transform: translate(0.31199999999999983px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___7D6Dk {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(98, 98, 98, 1);
}
.div21 {
  transform: translate(-0.4689999999999941px, 0px);
  width: 90px;
  height: 91px;
  display: block;
  position: absolute;
  top: 0px;
  left: 115px;
}
.div22 {
  background: rgba(243, 200, 156, 1);
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0px;
  left: 15px;
  overflow: hidden;
  border-radius: 60px;
}
.div23 {
  background: rgba(243, 200, 156, 1);
  box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
  width: 54px;
  height: 54px;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 54px;
}
.vanila {
  position: absolute;
  top: 70px;
  left: 21px;
  width: 48px;
  height: 21px;
  transform: translate(0.11700000000000088px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__qJ6Ts {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(98, 98, 98, 1);
}
.div24 {
  width: 379px;
  height: 98px;
  display: block;
  position: absolute;
  top: 314px;
  left: 30px;
}
.adifferance {
  background: rgba(243, 85, 0, 1);
  width: 379px;
  height: 66px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 3px;
}
.feelTheDifference {
  position: absolute;
  top: 20px;
  left: 56px;
  width: 234px;
  height: 27px;
  transform: translate(-0.4299999999999997px, 0.43700000000000117px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___3N8P1 {
  display: block;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}
.fingericonpng2 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/fingericonpng.png") 0px 0px / 22px 14px no-repeat;
  transform: translate(-0.14100000000001955px, -0.3520000000000003px);
  width: 22px;
  height: 15px;
  display: block;
  position: absolute;
  top: 26px;
  left: 301px;
  overflow: hidden;
}
.paymentcardpng {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/paymentcardpng.png") 0px 0px / 240px 24px no-repeat;
  transform: translate(0.21800000000000352px, -0.06300000000000239px);
  width: 240px;
  height: 24px;
  display: block;
  position: absolute;
  top: 74px;
  left: 69px;
  overflow: hidden;
}
.faQs {
  position: absolute;
  top: 4543px;
  left: 50px;
  width: 102px;
  height: 50px;
  transform: translate(0px, -0.2969999999995707px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rdq0P {
  display: block;
  font-size: 39px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.div25 {
  transform: translate(0px, -0.2969999999995707px);
  width: 761px;
  height: 121px;
  display: block;
  position: absolute;
  top: 4623px;
  left: 50px;
}
.isSparqVitaminAirSafe {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 197px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__vr8Dd {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(0, 0, 0, 1);
}
.sparqVitaminAirHasBeenLaboratoryTestedInAnIso17025AccreditedLabAndCertifiedToBeFreeOfHarmfulChemicalsItIsOnlyMadeWithOrganicNaturalSubstances {
  position: absolute;
  top: 74px;
  left: 0px;
  width: 761px;
  height: 45px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__va7BW {
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.div26 {
  transform: translate(0px, -0.2969999999995707px);
  width: 761px;
  height: 146px;
  display: block;
  position: absolute;
  top: 4764px;
  left: 50px;
}
.whatAreTheIngredientsUsedInSparqVitaminAir {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 399px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__s3Ipz {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(0, 0, 0, 1);
}
.ourFormulationsDoNotContainNicOrAnyAddictiveSubstancesWeOnlyUseOrganicVegetableGlycerinAndNaturalFlavoringAsOurBaseCombinedWithTheHighestQualityUsSourcedVitaminsAminoAcidsAndBotanicals {
  position: absolute;
  top: 74px;
  left: 0px;
  width: 746px;
  height: 70px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rpaEw {
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.div27 {
  transform: translate(0px, -0.2969999999995707px);
  width: 761px;
  height: 146px;
  display: block;
  position: absolute;
  top: 4930px;
  left: 50px;
}
.howDoIUseSparqVitaminAir {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 249px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nVLh {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(0, 0, 0, 1);
}
.toUseSparqVitaminAirSimplyLiftTheDeviceFromThePackagingRemoveTheProtectiveSiliconeCapsPlaceTheWoodenEndOfTheDeviceInYourMouthAndInhaleTheLedWillIlluminateToIndicateSuctio {
  position: absolute;
  top: 74px;
  left: 0px;
  width: 759px;
  height: 70px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__o9OPj {
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.div28 {
  transform: translate(0px, -0.2969999999995707px);
  width: 761px;
  height: 121px;
  display: block;
  position: absolute;
  top: 5096px;
  left: 50px;
}
.howLongDoesItLast {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 170px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__xPFyE {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(0, 0, 0, 1);
}
.eachSparqDeviceWillProvide300PuffsOrMoreDependingOnHowItIsUsedTheBuiltInLedWillBlinkFor2SecondsWhenTheJuiceIsAboutToRunOut {
  position: absolute;
  top: 74px;
  left: 0px;
  width: 740px;
  height: 45px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__dQyGq {
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.div29 {
  transform: translate(0px, -0.2969999999995707px);
  width: 761px;
  height: 121px;
  display: block;
  position: absolute;
  top: 5237px;
  left: 50px;
}
.whatMaterialsIsSparqMadeFrom {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 278px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___4ZTA {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(0, 0, 0, 1);
}
.ourSparqVitaminAirIs100RecyclableItIsMadeOfABiodegradableBodyOfWoodStainlessSteelAndFoodGradeSiliconeAndItsPoweredByALithiumBattery {
  position: absolute;
  top: 74px;
  left: 0px;
  width: 748px;
  height: 45px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__omAuj {
  display: block;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 25px;
  color: rgba(98, 98, 98, 1);
}
.div30 {
  transform: translate(-0.33600000000001273px, 0px);
  width: 416px;
  display: block;
  position: absolute;
  top: 0px;
  left: 906px;
  bottom: 0px;
}
.div31 {
  background: rgba(255, 255, 255, 1);
  width: 416px;
  height: 403px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 8px;
}
.sidereview1Png {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/sidereview1Png2.png") 0px 0px / 100px 100px no-repeat;
  transform: translate(-0.33600000000001273px, 0px);
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: 32px;
  left: 158px;
  overflow: hidden;
  border-radius: 100px;
}
.isaiahS {
  position: absolute;
  top: 147px;
  left: 175px;
  width: 66px;
  height: 21px;
  transform: translate(0.13999999999998636px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__ph9I3 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: #626262;
}
.starpng2 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/starpng2.png") 0px 0px / 100px 15px no-repeat;
  transform: translate(-0.33600000000001273px, -0.2580000000000098px);
  width: 100px;
  height: 15px;
  display: block;
  position: absolute;
  top: 176px;
  left: 158px;
  overflow: hidden;
}
.bestAlternative {
  position: absolute;
  top: 209px;
  left: 126px;
  width: 164px;
  height: 22px;
  transform: translate(0.20300000000000296px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__h0Kr {
  display: block;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
}
.iSmokedForOver29YearsAndTiredToQuitSeveralTimesWithNoSuccessUntilICameAcrossSparqNowNotOnlyDoINotQuitImDoingSomethingHealthyInPlaceGreatProductIllBeAUserForLife {
  position: absolute;
  top: 243px;
  left: 36px;
  width: 345px;
  height: 125px;
  transform: translate(-0.32099999999999795px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___21FkD {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(98, 98, 98, 1);
}
.div32 {
  background: rgba(255, 255, 255, 1);
  transform: translate(0px, -0.5px);
  width: 416px;
  height: 351px;
  display: flex;
  position: absolute;
  top: 418px;
  left: 0px;
  flex-direction: column;
  padding-left: 57px;
  padding-right: 47px;
  border-radius: 8px;
}
.sidereview2Png {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/sidereview2Png2.png") 0px 0px / 100px 100px no-repeat;
  transform: translate(-0.33600000000001273px, 0px);
  width: 100px;
  height: 100px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  padding-left: 0px;
  flex-shrink: 0;
  border-radius: 100px;
}
.jasonG {
  position: relative;
  top: auto;
  left: auto;
  width: 69px;
  height: 21px;
  transform: translate(-0.492999999999995px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.text___1UtFu {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(98, 98, 98, 1);
}
.starpng3 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/starpng2.png") 0px 0px / 100px 15px no-repeat;
  transform: translate(-0.33600000000001273px, -0.2580000000000098px);
  width: 100px;
  height: 15px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  flex-shrink: 0;
}
.awesome {
  position: relative;
  top: auto;
  left: auto;
  width: 90px;
  height: 22px;
  transform: translate(0.16399999999998727px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.text__weoRc {
  display: block;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
}
.excellentILoveThisIQuitCigsAndWentToTheSparqILoveThisDeviceItIsNaturalNoNicItReallyDoesHelpCalmMe {
  position: relative;
  top: auto;
  left: auto;
  width: 344px;
  height: 73px;
  transform: translate(0.20300000000000296px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.text__qaKq3 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(98, 98, 98, 1);
}
.div33 {
  transform: translate(0px, -0.43800000000010186px);
  width: 416px;
  height: 805px;
  display: block;
  position: absolute;
  top: 1080px;
  left: 0px;
}
.div34 {
  background: rgba(255, 255, 255, 1);
  width: 416px;
  height: 351px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 8px;
}
.sidereview3Png {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/sidereview3Png2.png") 0px 0px / 100px 100px no-repeat;
  transform: translate(-0.33600000000001273px, 0px);
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: 32px;
  left: 158px;
  overflow: hidden;
  border-radius: 100px;
}
.kathyB {
  position: absolute;
  top: 147px;
  left: 178px;
  width: 61px;
  height: 21px;
  transform: translate(-0.367999999999995px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__pDcO {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(98, 98, 98, 1);
}
.starpng4 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/starpng2.png") 0px 0px / 100px 15px no-repeat;
  transform: translate(-0.33600000000001273px, -0.2580000000000098px);
  width: 100px;
  height: 15px;
  display: block;
  position: absolute;
  top: 176px;
  left: 158px;
  overflow: hidden;
}
.loveLove {
  position: absolute;
  top: 209px;
  left: 153px;
  width: 109px;
  height: 22px;
  transform: translate(0.46000000000000796px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rpTWj {
  display: block;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
}
.p {
  transform: translate(0px, -0.5px);
  width: 352px;
  height: 78px;
  display: block;
  position: absolute;
  top: 241px;
  left: 32px;
}
.imLiterallyObsessedTheTheElegant {
  position: absolute;
  top: 3px;
  left: 30px;
  width: 292px;
  height: 21px;
  transform: translate(-0.125px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___6HkcH {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(98, 98, 98, 1);
}
.br4 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  position: absolute;
  top: 3px;
  left: 321px;
  width: 1px;
  height: 21px;
  transform: translate(0.4449999999999932px, -0.5px);
}
.designAsWellAsTheJawDropping {
  position: absolute;
  top: 29px;
  left: 40px;
  width: 273px;
  height: 21px;
  transform: translate(-0.3359999999999985px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__bnOp5 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 26px;
  color: #626262;
}
.br5 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  position: absolute;
  top: 29px;
  left: 312px;
  width: 1px;
  height: 21px;
  transform: translate(-0.33600000000001273px, -0.5px);
}
.packaging {
  position: absolute;
  top: 55px;
  left: 130px;
  width: 93px;
  height: 21px;
  transform: translate(-0.32900000000000773px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__eb0V {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(98, 98, 98, 1);
}
.div35 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/div3.jpeg") -46px -85px / 507px 610px no-repeat;
  transform: translate(0px, -0.5px);
  width: 416px;
  height: 439px;
  display: block;
  position: absolute;
  top: 366px;
  left: 0px;
  border-radius: 8px;
}
.starpng5 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/starpng2.png") 0px 0px / 100px 15px no-repeat;
  transform: translate(-0.33600000000001273px, -0.25800000000000267px);
  width: 100px;
  height: 15px;
  display: block;
  position: absolute;
  top: 35px;
  left: 158px;
  overflow: hidden;
}
.rated49StarsBy100000Customers2 {
  position: absolute;
  top: 61px;
  left: 50px;
  width: 315px;
  height: 22px;
  transform: translate(0.32800000000000296px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___9Z5Qv {
  display: block;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}
.h32 {
  width: 352px;
  height: 100px;
  display: block;
  position: absolute;
  top: 97px;
  left: 32px;
}
.soWhatAre {
  position: absolute;
  top: 0px;
  left: 57px;
  width: 239px;
  height: 50px;
  transform: translate(-0.3049999999999997px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.soWhatAre2 {
  display: block;
  font-size: 39px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}
.youWaitingFor {
  position: absolute;
  top: 50px;
  left: 16px;
  width: 319px;
  height: 50px;
  transform: translate(0.4759999999999991px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nZrN {
  display: block;
  font-size: 38px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}
.takeTheFirstAndEasiestStepTowardsQuittingAndReceive15OffYourFirstPurchase {
  position: absolute;
  top: 208px;
  left: 32px;
  width: 352px;
  height: 97px;
  transform: translate(0.25px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__o93Lv {
  display: block;
  font-size: 23px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 33px;
  color: rgba(255, 255, 255, 1);
}
.a {
  background: rgba(243, 85, 0, 1);
  width: 352px;
  height: 66px;
  display: block;
  position: absolute;
  top: 341px;
  left: 32px;
  border-radius: 3px;
}
.feelTheDifference2 {
  position: absolute;
  top: 20px;
  left: 42px;
  width: 234px;
  height: 27px;
  transform: translate(0.015000000000000568px, 0.43700000000000117px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__qGmqy {
  display: block;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}
.fingericonpng3 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/fingericonpng.png") 0px 0px / 22px 14px no-repeat;
  transform: translate(0.3039999999999736px, -0.3520000000000003px);
  width: 22px;
  height: 15px;
  display: block;
  position: absolute;
  top: 26px;
  left: 287px;
  overflow: hidden;
}
.div {
  transform: translate(0px, -0.5px);
  width: 1336px;
  height: 100%;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  min-height: 0;
}
.logopng {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/logopng.png") 0px 0px / 180px 30px no-repeat;
  width: 180px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  left: 15px;
  overflow: hidden;
}
.theEvolutionOfInhalation {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 268px;
  height: 20px;
  transform: translate(0.4839999999999236px, 0.25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__iwYmx {
  display: block;
  font-size: 15px;
  text-align: right;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.div36 {
  transform: translate(0px, 0.14000000000032742px);
  width: 1336px;
  height: 30px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.copyrights2022AllRightsReserved {
  position: relative;
  top: auto;
  left: auto;
  width: 230px;
  height: 17px;
  transform: translate(0px, -0.25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.text___9DbLd {
  display: block;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(98, 98, 98, 1);
}
.logopng2 {
  background: url("/plasmic/copy_of_blog_lifehacksplus_com/images/logopng.png") 0px 0px / 180px 30px no-repeat;
  transform: translate(-0.008000000000038199px, 0px);
  width: 180px;
  height: 30px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  flex-shrink: 0;
}
.div37 {
  transform: translate(-0.34400000000005093px, 0.30400000000000027px);
  width: 416px;
  height: 20px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.privacyPolicy {
  position: absolute;
  top: 2px;
  right: 147px;
  width: 85px;
  height: 17px;
  transform: translate(-0.44599999999999795px, -0.1180000000000001px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__vuFrm {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(98, 98, 98, 1);
}
._ {
  position: absolute;
  top: 1px;
  right: 130px;
  width: 6px;
  height: 19px;
  transform: translate(-0.47699999999997544px, -0.118px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__sKe8G {
  display: block;
  font-size: 15px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(32, 36, 40, 1);
}
.termsConditions {
  position: absolute;
  top: 2px;
  right: 0px;
  width: 120px;
  height: 17px;
  transform: translate(0.4759999999999991px, -0.1180000000000001px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nlRzs {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(98, 98, 98, 1);
}
