.div73 {
  width: 412px;
  height: 28px;
  display: block;
  position: relative;
}
.freeShippingOnOrdersOver65 {
  position: absolute;
  top: 6px;
  left: 72px;
  width: 269px;
  height: 16px;
  transform: translate(-0.3130000000000024px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 1.1px;
  line-height: 14px;
  color: rgba(255, 255, 255, 1);
}
