.div47 {
  width: 370px;
  display: block;
  position: relative;
}
.a5 {
  background: linear-gradient(
      90deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(242, 242, 242, 1) 99%
    )
    0% 0% / 100% 100% no-repeat;
  width: 370px;
  height: 560px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.packaging6Upright09FinalMin250X2502Xjpg {
  background: url("/plasmic/masteri_sparq/images/packaging6Upright09FinalMin250X2502Xjpg.png") 0px 0px / 370px 422px no-repeat;
  width: 370px;
  height: 423px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.div48 {
  transform: translate(0px, 0.35899999999998045px);
  width: 300px;
  height: 130px;
  display: block;
  position: absolute;
  top: 430px;
  left: 35px;
}
.text__xoPpp {
  display: block;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17.6px;
  color: rgba(54, 46, 44, 1);
  position: absolute;
  top: 0px;
  left: 98px;
  transform: translate(-0.3130000000000024px, 0px);
}
._43Rating447Votes5 {
  transform: translate(0px, -0.40700000000000003px);
  width: 300px;
  height: 20px;
  display: block;
  position: absolute;
  top: 28px;
  left: 0px;
}
.i21 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 102px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__usHtG {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i22 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 115px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text___6U07V {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i23 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 128px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__eCekx {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i24 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 141px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__ltu6G {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i25 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 154px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__p8Qbh {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.text__l5Ovj {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(51, 121, 182, 1);
  position: absolute;
  top: 0px;
  left: 169px;
  transform: translate(-0.1570000000000107px, 0px);
}
.text__ifEn3 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 21.428px;
  position: absolute;
  top: 56px;
  left: 58px;
  transform: translate(0.32800000000000296px, -0.4069999999999965px);
}
.text___9WOk {
  display: block;
  font-size: 11.125px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 18.75px;
  color: rgba(102, 102, 102, 1);
  position: absolute;
  top: 86px;
  left: 40px;
  transform: translate(0.07800000000000296px, 0.3430000000000035px);
}
.div49 {
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
.span2 {
  background: rgba(0, 0, 0, 1);
  transform: scale(0.9998489885977782, 1.0005560953789647) rotate(45deg)
    skew(-0.04052034650700807deg, 0deg)
    translate(-0.26099999999999923px, 0.08299999999999841px);
  width: 225px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: -34px;
  left: 32px;
  bottom: 145px;
}
.bestValue {
  position: absolute;
  top: 58px;
  left: 31px;
  bottom: -90px;
  width: 71px;
  transform: translate(-0.120000000000001px, -0.1390000000000029px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__jqGfP {
  display: block;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 22.857px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 61px;
  top: 8px;
}
.form5 {
  transform: translate(0px, -0.29700000000002547px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 560px;
  left: 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div50 {
  background: linear-gradient(
      90deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(242, 242, 242, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 10px;
}
.div51 {
  width: 370px;
  height: 116px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__xZRxb {
  display: block;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 21.428px;
  color: rgba(102, 102, 102, 1);
  position: absolute;
  top: 20px;
  left: 118px;
  transform: translate(0.1869999999999976px, 0px);
}
.div52 {
  transform: translate(0.3430000000000035px, 0.4209999999999994px);
  width: 99px;
  height: 52px;
  display: block;
  position: absolute;
  top: 43px;
  left: 77px;
}
.label9 {
  background: url("/plasmic/masteri_sparq/images/label5.png") 3px 3px / 36px 36px no-repeat;
  transform: translate(-0.5px, 0px);
  width: 36px;
  height: 40px;
  display: block;
  position: absolute;
  top: -6px;
  left: 27px;
  border-radius: 19px;
}
.strawberry5 {
  position: absolute;
  top: 38px;
  left: 10px;
  width: 89px;
  height: 14px;
  transform: translate(0.2029999999999994px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__wOyw1 {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 14px;
  color: rgba(251, 89, 140, 1);
}
.div53 {
  transform: translate(0.45300000000000296px, 0.4209999999999994px);
  width: 91px;
  height: 52px;
  display: block;
  position: absolute;
  top: 43px;
  left: 201px;
}
.label10 {
  background: url("/plasmic/masteri_sparq/images/label2.png") 3px 3px / 36px 36px no-repeat;
  transform: translate(-0.5px, 0px);
  width: 36px;
  height: 40px;
  display: block;
  position: absolute;
  top: -6px;
  left: 23px;
  border-radius: 19px;
}
.vanilla5 {
  position: absolute;
  top: 38px;
  left: 22px;
  width: 58px;
  height: 14px;
  transform: translate(-0.015999999999998238px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__kaj8L {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 14px;
  color: rgba(225, 195, 164, 1);
}
.div54 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
  min-width: 0;
}
.buttonAddToCart4332442910789 {
  background: rgba(208, 103, 38, 1);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  padding: 13px 125px 12px 140px;
}
.text__q1Y {
  display: block;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  height: auto;
}
