.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 768px) {
  .body {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.columns__oWjPm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 0px;
}
.columns__oWjPm > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 320px) {
  .columns__oWjPm {
    align-self: center;
  }
}
@media (min-width: 320px) {
  .columns__oWjPm > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 414px) {
  .columns__oWjPm > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 768px) {
  .columns__oWjPm {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__oWjPm > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 768px) {
  .columns__oWjPm > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.article {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 320px) {
  .article {
    justify-content: center;
    align-items: center;
  }
}
.articleBody {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 861px;
  height: auto;
  align-self: flex-start;
  background: #ffffff;
  margin-left: 70px;
  left: auto;
  top: auto;
  margin-bottom: 50px;
  border-radius: 12px;
  padding: 30px 50px 0px;
}
@media (min-width: 320px) {
  .articleBody {
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
@media (min-width: 414px) {
  .articleBody {
    width: 390px;
  }
}
@media (min-width: 768px) {
  .articleBody {
    margin-left: 70px;
    padding-left: 50px;
    padding-right: 50px;
    width: 861px;
    align-self: flex-start;
  }
}
.asFeaturedIn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
  flex-shrink: 0;
}
@media (min-width: 320px) {
  .asFeaturedIn:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 414px) {
  .asFeaturedIn:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.heroImage {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 12px;
}
.heroImage > picture > img {
  object-fit: cover;
}
.heroImage > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.paragraph1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  margin-top: 30px;
  min-width: 0;
}
.link {
  position: relative;
  margin-top: 30px;
  display: flex;
}
.image1 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 12px;
}
.image1 > picture > img {
  object-fit: cover;
}
.image1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.paragraph2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.image2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.image2 > picture > img {
  object-fit: cover;
}
.image2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.paragraph3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.image3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.image3 > picture > img {
  object-fit: cover;
}
.image3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.paragraph4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.image4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.image4 > picture > img {
  object-fit: cover;
}
.image4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.paragraph5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  padding-left: 0px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.ul__qj5th {
  display: flex;
  flex-direction: column;
}
.ul__qzDPj {
  display: flex;
  flex-direction: column;
}
.ul___7LMuy {
  display: flex;
  flex-direction: column;
}
.image5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.image5 > picture > img {
  object-fit: cover;
}
.image5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 320px) {
  .text {
    display: none;
  }
}
.paragraph6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.image6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.image6 > picture > img {
  object-fit: cover;
}
.image6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.aOutroH1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
.aOutroH2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
.columns__fkdsw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  min-width: 0;
  padding: 0px;
}
.columns__fkdsw > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 768px) {
  .columns__fkdsw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__fkdsw > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 5 / 12);
  }
}
@media (min-width: 768px) {
  .columns__fkdsw > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 2 / 12);
  }
}
@media (min-width: 768px) {
  .columns__fkdsw > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 5 / 12);
  }
}
.column__fiZkI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.sCta {
  position: relative;
  width: 100%;
  height: 62px;
  margin-bottom: 0px;
  color: #ffffff;
  background: #f35500;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 12px;
}
@media (min-width: 320px) {
  .sCta {
    margin-bottom: 30px;
  }
}
.column__hHrFd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 320px) {
  .column__hHrFd {
    display: none;
  }
}
@media (min-width: 768px) {
  .column__hHrFd {
    display: flex;
  }
}
.img__k78Eh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__k78Eh > picture > img {
  object-fit: cover;
}
.img__k78Eh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__oFs3G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.aOutroH3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.img___6PlZ4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___6PlZ4 > picture > img {
  object-fit: cover;
}
.img___6PlZ4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___15IEx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img___15IEx > picture > img {
  object-fit: cover;
}
.img___15IEx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.reviews {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 416px;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  margin-right: 70px;
  padding: 0px;
}
@media (min-width: 320px) {
  .freeBox {
    align-self: center;
    margin-right: 0px;
  }
}
@media (min-width: 768px) {
  .freeBox {
    align-self: flex-end;
    margin-right: 70px;
  }
}
.reviewCard__m6Uyy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.reviewCard__ubH9Y:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}
.reviewCard__cRx6S:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}
.sideCta:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}
