.section {
  background: rgba(250, 250, 248, 1);
  transform: translate(0px, -0.04699999999957072px);
  width: 412px;
  height: 890px;
  display: block;
  position: relative;
}
.div56 {
  width: 412px;
  height: 843px;
  display: block;
  position: absolute;
  top: 47px;
  left: 0px;
}
.promissoryCommitment {
  position: absolute;
  top: -3px;
  left: 13px;
  width: 387px;
  height: 32px;
  transform: translate(0.045999999999999375px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__aTnAq {
  display: block;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 27px;
  color: rgba(102, 102, 102, 1);
}
.div57 {
  width: 412px;
  height: 756px;
  display: block;
  position: absolute;
  top: 87px;
  left: 0px;
}
.div58 {
  width: 412px;
  height: 189px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.safetyPractices480X480Png {
  background: url("/plasmic/masteri_sparq/images/safetyPractices480X480Png.png") 0px 0px / 32px 32px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 190px;
}
.safetyPractices {
  position: absolute;
  top: 48px;
  left: 148px;
  width: 117px;
  height: 18px;
  transform: translate(-0.03200000000001069px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__sbcAo {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
  color: rgba(102, 102, 102, 1);
}
.weLiveByTheHippocraticOathFirstDoNoHarmOurProductsAreMadeWithoutNicotineOrHarmfulChemicals {
  position: absolute;
  top: 84px;
  left: 33px;
  width: 346px;
  height: 56px;
  transform: translate(0.3430000000000035px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___7OwD {
  display: block;
  font-size: 16.875px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
}
.div59 {
  width: 412px;
  height: 189px;
  display: block;
  position: absolute;
  top: 189px;
  left: 0px;
}
.extensiveScientificResearch480X480Png {
  background: url("/plasmic/masteri_sparq/images/extensiveScientificResearch480X480Png.png") 0px 0px / 32px 32px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 190px;
}
.extensiveScientificResearch {
  position: absolute;
  top: 48px;
  left: 99px;
  width: 214px;
  height: 18px;
  transform: translate(0.3119999999999976px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___09BQs {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
  color: rgba(102, 102, 102, 1);
}
.weEnsureAllOurProductsAreFormulatedUnderTheDirectionOfARenownedInhalationToxicologistAndTestedByAnIsoAccreditedIndependentLaboratory {
  position: absolute;
  top: 84px;
  left: 38px;
  width: 337px;
  height: 56px;
  transform: translate(0.1869999999999976px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__ueOua {
  display: block;
  font-size: 16.875px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
}
.div60 {
  width: 412px;
  height: 189px;
  display: block;
  position: absolute;
  top: 378px;
  left: 0px;
}
.environmentallyResponsible480X480Png {
  background: url("/plasmic/masteri_sparq/images/environmentallyResponsible480X480Png.png") 0px 0px / 32px 32px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 190px;
}
.environmentallyResponsible {
  position: absolute;
  top: 48px;
  left: 98px;
  width: 217px;
  height: 18px;
  transform: translate(-0.23499999999999943px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___6Kjxl {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
  color: rgba(102, 102, 102, 1);
}
.weSeekToInspireACultureOfEnvironmentalSensitivityThroughSustainableProductDesignAndEthicalBusinessPractices {
  position: absolute;
  top: 84px;
  left: 44px;
  width: 324px;
  height: 56px;
  transform: translate(0.20300000000000296px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___2NOa1 {
  display: block;
  font-size: 16.875px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
}
.div61 {
  width: 412px;
  height: 189px;
  display: block;
  position: absolute;
  top: 567px;
  left: 0px;
}
.givingBack480X480Png {
  background: url("/plasmic/masteri_sparq/images/givingBack480X480Png.png") 0px 0px / 32px 32px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 190px;
}
.givingBack {
  position: absolute;
  top: 48px;
  left: 163px;
  width: 87px;
  height: 18px;
  transform: translate(-0.375px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__tvwor {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
  color: rgba(102, 102, 102, 1);
}
.weUseAPercentageOfYourPurchaseToEmpowerInnovativeStartUpsToSolveHumanitysMostPressingEnvironmentalChallenges {
  position: absolute;
  top: 84px;
  left: 34px;
  width: 345px;
  height: 56px;
  transform: translate(-0.4069999999999965px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___9Noy8 {
  display: block;
  font-size: 16.875px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
}
