.page {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  display: none;
}
@media (min-width: 320px) {
  .page {
    display: flex;
  }
}
@media (min-width: 414px) {
  .page {
    display: flex;
  }
}
@media (min-width: 768px) {
  .page {
    display: flex;
  }
}
._1440Px {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (min-width: 320px) {
  ._1440Px {
    display: none;
  }
}
@media (min-width: 768px) {
  ._1440Px {
    display: none;
  }
}
.head {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 320px) {
  .head {
    display: none;
  }
}
@media (min-width: 768px) {
  .head {
    display: flex;
  }
}
.announcementBar1440Px:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: block;
}
@media (min-width: 320px) {
  .announcementBar1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 414px) {
  .announcementBar1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 768px) {
  .announcementBar1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: block;
  }
}
.navBar1440Px:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 320px) {
  .navBar1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 414px) {
  .navBar1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 768px) {
  .navBar1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: block;
  }
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 320px) {
  .body {
    display: none;
  }
}
@media (min-width: 414px) {
  .body {
    display: flex;
  }
}
@media (min-width: 768px) {
  .body {
    width: 1230px;
  }
}
.headlineIcons1440Px:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 414px) {
  .headlineIcons1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 768px) {
  .headlineIcons1440Px:global(.__wab_instance) {
    margin-top: 25px;
    margin-bottom: 0px;
    flex-shrink: 0;
    display: block;
  }
}
.disposableBogoOffer1440Px:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 414px) {
  .disposableBogoOffer1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 768px) {
  .disposableBogoOffer1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: block;
  }
}
.columns__vpZjm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__vpZjm > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 768px) {
  .columns__vpZjm {
    width: 100%;
    height: 850px;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 768px) {
  .columns__vpZjm > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__vpZjm > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__vpZjm > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__sejgV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.collection3Pack1440Px:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 320px) {
  .collection3Pack1440Px:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 414px) {
  .collection3Pack1440Px:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 768px) {
  .collection3Pack1440Px:global(.__wab_instance) {
    height: 100%;
    align-self: flex-start;
    min-height: 0;
    display: block;
  }
}
.column__dLbW1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
._1440VarietyRedo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__noP8A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.fuelSingle1440Px:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 768px) {
  .fuelSingle1440Px:global(.__wab_instance) {
    display: block;
  }
}
.columns__shDWp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__shDWp > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 768px) {
  .columns__shDWp {
    width: 100%;
    height: 850px;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 768px) {
  .columns__shDWp > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__shDWp > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__shDWp > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__k9DHy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.pureSingle1440Px:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 320px) {
  .pureSingle1440Px:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 414px) {
  .pureSingle1440Px:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 768px) {
  .pureSingle1440Px:global(.__wab_instance) {
    display: block;
  }
}
.column__anJy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.variety6Pack1440Px:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 768px) {
  .variety6Pack1440Px:global(.__wab_instance) {
    display: none;
  }
}
.meltSingle1440Px:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 320px) {
  .meltSingle1440Px:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 414px) {
  .meltSingle1440Px:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 768px) {
  .meltSingle1440Px:global(.__wab_instance) {
    display: block;
  }
}
.column__qtOgq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  min-width: 0;
  padding: 8px;
}
.subscriptionImageTextBanner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 414px) {
  .subscriptionImageTextBanner:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (min-width: 768px) {
  .subscriptionImageTextBanner:global(.__wab_instance) {
    flex-shrink: 0;
    display: block;
  }
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 768px) {
  .footer {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 70px;
  }
}
.promissoryCommitment1440Px:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 320px) {
  .promissoryCommitment1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 414px) {
  .promissoryCommitment1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 768px) {
  .promissoryCommitment1440Px:global(.__wab_instance) {
    height: 324px;
    flex-shrink: 0;
    display: block;
  }
}
.footer1440Px:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 320px) {
  .footer1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 414px) {
  .footer1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (min-width: 768px) {
  .footer1440Px:global(.__wab_instance) {
    flex-shrink: 0;
    display: block;
  }
}
._414PxRedo {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 6282px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  display: none;
  padding: 0px 0px 8px;
}
@media (min-width: 414px) {
  ._414PxRedo {
    display: none;
  }
}
@media (min-width: 768px) {
  ._414PxRedo {
    display: none;
  }
}
.collectionWhole414Px:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 85px;
  margin-bottom: 30px;
  flex-shrink: 0;
}
.headlineIcons414Px:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 10px;
  flex-shrink: 0;
}
@media (min-width: 414px) {
  .headlineIcons414Px:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
._414BogoOffer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 414px) {
  ._414BogoOffer:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
._3Pack414Px:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  align-self: center;
  top: 590px;
}
@media (min-width: 414px) {
  ._3Pack414Px:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
._414PxVariety:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  top: 1358px;
}
.variety414Px__xt6Km:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 22px;
  top: 1358px;
}
@media (min-width: 414px) {
  .variety414Px__xt6Km:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.variety414Px__y8Ey9:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  align-self: center;
  left: 22px;
  top: 1358px;
}
@media (min-width: 414px) {
  .variety414Px__y8Ey9:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.fuelSingle414Px:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  align-self: center;
  top: 2125px;
}
.pureSingle414Px:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  align-self: center;
  top: 2890px;
}
.meltSingle414Px:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  top: 3655px;
}
.subscriptionImageText414Px:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  top: 4440px;
  flex-shrink: 0;
}
@media (min-width: 414px) {
  .subscriptionImageText414Px:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.promissoryCommitment414Px:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  top: 4586px;
  flex-shrink: 0;
}
@media (min-width: 414px) {
  .promissoryCommitment414Px:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.footer414Px:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  top: 5476px;
  flex-shrink: 0;
}
@media (min-width: 414px) {
  .footer414Px:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 5770px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  display: none;
  padding: 0px 0px 8px;
}
@media (min-width: 320px) {
  .freeBox {
    display: none;
  }
}
@media (min-width: 414px) {
  .freeBox {
    display: none;
  }
}
._320PxAnncoumentFinal:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 320px) {
  ._320PxAnncoumentFinal:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
._320PxNavBarI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 320px) {
  ._320PxNavBarI:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
._320PxImageIcons:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 320px) {
  ._320PxImageIcons:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
._320PxCwOfferBogo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 10px;
  flex-shrink: 0;
}
@media (min-width: 320px) {
  ._320PxCwOfferBogo:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
._320Px3Pack:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
._320PxVariety:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  top: 1218px;
}
._320PxFuel:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  top: 1870px;
}
._320PxPure:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  top: 2520px;
}
._320PxMelt:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  top: 3170px;
}
._320XSubscriptionImage:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  top: 3840px;
  flex-shrink: 0;
}
@media (min-width: 320px) {
  ._320XSubscriptionImage:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
._320PxCommitment:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  top: 3960px;
  flex-shrink: 0;
}
@media (min-width: 320px) {
  ._320PxCommitment:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
._320PxFooterI:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  top: 4957px;
  z-index: 1;
  flex-shrink: 0;
}
@media (min-width: 320px) {
  ._320PxFooterI:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
._320PxFooter:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 5000px;
  flex-shrink: 0;
}
@media (min-width: 320px) {
  ._320PxFooter:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.safeLeads:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
