.div35 {
  transform: translate(0px, 0.375px);
  width: 370px;
  display: block;
  position: relative;
}
@media (min-width: 414px) {
  .div35 {
    height: 750px;
  }
}
.a4 {
  background: linear-gradient(
      90deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(242, 242, 242, 1) 99%
    )
    0% 0% / 100% 100% no-repeat;
  width: 370px;
  height: 560px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.productVariety1C2E7Bd9Ac9C4989Bfad811526Dad7E0250X2502Xjpg {
  background: url("/plasmic/masteri_sparq/images/productVariety1C2E7Bd9Ac9C4989Bfad811526Dad7E0250X2502Xjpg.png") 0px 0px / 370px 422px no-repeat;
  width: 370px;
  height: 423px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (min-width: 320px) {
  .productVariety1C2E7Bd9Ac9C4989Bfad811526Dad7E0250X2502Xjpg {
    background: url("/plasmic/masteri_sparq/images/packaging6Upright09FinalMin250X2502Xjpg.png") 0px 0px / 370px 422px no-repeat;
  }
}
.div36 {
  transform: translate(0px, 0.35899999999998045px);
  width: 300px;
  height: 130px;
  display: block;
  position: absolute;
  top: 430px;
  left: 35px;
}
.text__tlr2 {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17.6px;
  color: rgba(54, 46, 44, 1);
  position: absolute;
  top: 0px;
  left: 80px;
  transform: translate(0.20300000000000296px, 0px);
}
._43Rating447Votes4 {
  transform: translate(0px, -0.40700000000000003px);
  width: 300px;
  height: 20px;
  display: block;
  position: absolute;
  top: 28px;
  left: 0px;
}
.i16 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 102px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__waMmx {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i17 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 115px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text___11Mdm {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
  padding-left: 0px;
}
.i18 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 128px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text___6CErZ {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i19 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 141px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__nBruu {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i20 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 154px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__d3PBm {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.text__zTi0O {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(51, 121, 182, 1);
  position: absolute;
  top: 0px;
  left: 169px;
  transform: translate(-0.1570000000000107px, 0px);
}
.text__m0Cdh {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 21.428px;
  color: rgba(89, 89, 88, 1);
  position: absolute;
  top: 56px;
  left: 134px;
  transform: translate(-0.125px, -0.4069999999999965px);
}
.text___5M17H {
  display: block;
  font-size: 11.125px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 18.75px;
  color: rgba(102, 102, 102, 1);
  position: absolute;
  top: 86px;
  left: 79px;
  transform: translate(0.1560000000000059px, 0.3430000000000035px);
}
.div37 {
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
.span {
  background: rgba(255, 0, 0, 1);
  transform: scale(0.9998489885977782, 1.0005560953789647) rotate(45deg)
    skew(-0.04052034650700807deg, 0deg)
    translate(-0.26099999999999923px, 0.08299999999999841px);
  width: 225px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: -34px;
  left: 32px;
  bottom: 145px;
}
.bestSeller {
  position: absolute;
  top: 56px;
  left: 29px;
  bottom: -91px;
  width: 74px;
  transform: translate(0.48799999999999955px, 0.4690000000000012px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__w0KCs {
  display: block;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 22.857px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 66px;
  top: 8px;
}
.form4 {
  transform: translate(0px, -0.29700000000002547px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 560px;
  left: 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div38 {
  background: linear-gradient(
      90deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(242, 242, 242, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 10px;
}
.div39 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 20px;
}
.div39 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 1.421px);
  height: calc(100% + 1.421px);
}
.div39 > :global(.__wab_flex-container) > *,
.div39 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.div39 > :global(.__wab_flex-container) > picture > img,
.div39 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 1.421px;
}
.text__nl04K {
  display: block;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 21.428px;
  color: rgba(102, 102, 102, 1);
  position: relative;
}
.div40 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 77.343px;
  padding-right: 77.546px;
  padding-bottom: 20px;
}
.div40 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 25.109px);
  width: calc(100% + 25.109px);
}
.div40 > :global(.__wab_flex-container) > *,
.div40 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.div40 > :global(.__wab_flex-container) > picture > img,
.div40 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 25.109px;
}
.div41 {
  width: 99px;
  height: 52px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.label7 {
  background: url("/plasmic/masteri_sparq/images/label.png") 3px 3px / 26px 26px no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(251, 89, 140, 1);
  transform: translate(-0.5px, 0px);
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 34px;
  border-radius: 16px;
}
.strawberry4 {
  position: absolute;
  top: 38px;
  left: 10px;
  width: 89px;
  height: 14px;
  transform: translate(0.2029999999999994px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__yx0J8 {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 14px;
  color: rgba(251, 89, 140, 1);
}
.div42 {
  width: 91px;
  height: 52px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.label8 {
  background: url("/plasmic/masteri_sparq/images/label4.png") 3px 3px / 26px 26px no-repeat;
  transform: translate(-0.5px, 0px);
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 30px;
  border-radius: 16px;
}
.vanilla4 {
  position: absolute;
  top: 38px;
  left: 22px;
  width: 58px;
  height: 14px;
  transform: translate(-0.015999999999998238px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__jrCja {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 14px;
  color: rgba(225, 195, 164, 1);
}
.div43 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
  min-width: 0;
}
.buttonAddToCart4332494454853 {
  background: rgba(208, 103, 38, 1);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  padding: 13px 125px 12px 140px;
}
.text__xyxgt {
  display: block;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
