.div156 {
  width: 320px;
  height: 141px;
  display: block;
  position: relative;
}
.breatheVitaminAir3 {
  position: absolute;
  top: -1px;
  left: 35px;
  width: 251px;
  height: 62px;
  transform: translate(-0.20400000000000063px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__eB2Ll {
  display: block;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 30px;
  color: rgba(128, 119, 87, 1);
}
.div157 {
  width: 320px;
  height: 1px;
  display: block;
  position: absolute;
  top: 73px;
  left: 0px;
}
.div158 {
  height: 68px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 240px;
}
.smokingIconAc8544Ef2A784A929740Ba3C7312E5C5480X480Png3 {
  background: url("/plasmic/masteri_sparq/images/smokingIconAc8544Ef2A784A929740Ba3C7312E5C5480X480Png.png") 0px 0px / 32px 32px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 24px;
}
._0Nicotine3 {
  position: absolute;
  top: 42px;
  left: 6px;
  width: 69px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__f1AAs {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 15.399px;
  color: rgba(147, 137, 106, 1);
}
.div159 {
  height: 68px;
  display: block;
  position: absolute;
  top: 0px;
  left: 80px;
  right: 160px;
}
.beakerIcon09Efe31Cb2E44C7F8A8Ff564E86Fe6E1480X480Png3 {
  background: url("/plasmic/masteri_sparq/images/beakerIcon09Efe31CB2E44C7F8A8FF564E86Fe6E1480X480Png.png") 0px 0px / 32px 32px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 24px;
}
.labTested3 {
  position: absolute;
  top: 42px;
  left: 11px;
  width: 59px;
  height: 14px;
  transform: translate(-0.1880000000000006px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__m1NXg {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 15.399px;
  color: rgba(147, 137, 106, 1);
}
.div160 {
  height: 68px;
  display: block;
  position: absolute;
  top: 0px;
  left: 160px;
  right: 80px;
}
.pillsIcon73726148C05B472793782519623Fd4A0480X480Png3 {
  background: url("/plasmic/masteri_sparq/images/pillsIcon73726148C05B472793782519623Fd4A0480X480Png2.png") 0px 0px / 32px 32px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 24px;
}
.vitamins3 {
  position: absolute;
  top: 42px;
  left: 15px;
  width: 50px;
  height: 14px;
  transform: translate(0.4529999999999994px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__cAgt {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 15.399px;
  color: rgba(147, 137, 106, 1);
}
.div161 {
  height: 68px;
  display: block;
  position: absolute;
  top: 0px;
  left: 240px;
  right: 0px;
}
.recycleIcon1607Fa063A4B4D0Ba0A61Cd803B18C85480X480Png3 {
  background: url("/plasmic/masteri_sparq/images/recycleIcon1607Fa063A4B4D0BA0A61Cd803B18C85480X480Png.png") 0px 0px / 32px 32px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 24px;
}
.recyclable3 {
  position: absolute;
  top: 42px;
  left: 11px;
  width: 58px;
  height: 14px;
  transform: translate(0.3279999999999994px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__olEi5 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 15.399px;
  color: rgba(147, 137, 106, 1);
}
