.div110 {
  transform: translate(0px, 0.4370000000000118px);
  width: 387px;
  display: block;
  position: relative;
}
.a12 {
  background: linear-gradient(
      90deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(242, 242, 242, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  width: 387px;
  height: 579px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.productVariety1C2E7Bd9Ac9C4989Bfad811526Dad7E0250X2502Xjpg2 {
  background: url("/plasmic/masteri_sparq/images/productVariety1C2E7Bd9Ac9C4989Bfad811526Dad7E0250X2502Xjpg.png") 0px 0px / 386px 441px no-repeat;
  width: 387px;
  height: 441px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.div111 {
  transform: translate(0.1559999999999988px, 0px);
  width: 300px;
  height: 130px;
  display: block;
  position: absolute;
  top: 449px;
  left: 43px;
}
.text__kxPCi {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17.6px;
  color: rgba(54, 46, 44, 1);
  position: absolute;
  top: 0px;
  left: 80px;
  transform: translate(0.20300000000000296px, 0px);
}
._43Rating447Votes9 {
  transform: translate(0px, -0.40700000000000003px);
  width: 300px;
  height: 20px;
  display: block;
  position: absolute;
  top: 28px;
  left: 0px;
}
.i41 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 102px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__r2Vdy {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i42 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 115px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__oMnO4 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i43 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 128px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__ra0IZ {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i44 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 141px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text___4Aon2 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i45 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 154px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text___8I69L {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.text__mlMcW {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(51, 121, 182, 1);
  position: absolute;
  top: 0px;
  left: 169px;
  transform: translate(-0.1570000000000107px, 0px);
}
.text__h8Tz {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 21.428px;
  color: rgba(89, 89, 88, 1);
  position: absolute;
  top: 56px;
  left: 134px;
  transform: translate(-0.125px, -0.4069999999999965px);
}
.text__gl3Jj {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
  position: absolute;
  top: 87px;
  left: 75px;
  transform: translate(0.015000000000000568px, 0.015000000000000568px);
}
.div112 {
  transform: translate(0.32800000000000296px, 0px);
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
.span7 {
  background: rgba(255, 0, 0, 1);
  transform: scale(0.9998489885977782, 1.0005560953789647) rotate(45deg)
    skew(-0.04052034650700807deg, 0deg)
    translate(-0.26099999999999923px, 0.08299999999999841px);
  width: 225px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: -34px;
  left: 32px;
  bottom: 145px;
}
.bestSeller2 {
  position: absolute;
  top: 56px;
  left: 29px;
  bottom: -91px;
  width: 74px;
  transform: translate(0.48799999999999955px, 0.4690000000000012px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__huJ4G {
  display: block;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 22.857px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 57px;
  top: 10px;
}
.form9 {
  transform: translate(0px, 0.014999999999986358px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 578px;
  left: 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div113 {
  background: linear-gradient(
      90deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(242, 242, 242, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 10px;
}
.div114 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 20px;
}
.div114 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 1.421px);
  height: calc(100% + 1.421px);
}
.div114 > :global(.__wab_flex-container) > *,
.div114 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.div114 > :global(.__wab_flex-container) > picture > img,
.div114
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1.421px;
}
.text__eIe07 {
  display: block;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 21.428px;
  color: rgba(102, 102, 102, 1);
  position: relative;
}
.div115 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 89.5px;
  padding-right: 89.515px;
  padding-bottom: 20px;
}
.div115 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 25.312px);
  width: calc(100% + 25.312px);
}
.div115 > :global(.__wab_flex-container) > *,
.div115 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.div115 > :global(.__wab_flex-container) > picture > img,
.div115
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25.312px;
}
.div116 {
  width: 91px;
  height: 52px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.label17 {
  background: url("/plasmic/masteri_sparq/images/label.png") 3px 3px / 26px 26px no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(251, 89, 140, 1);
  transform: translate(-0.5px, 0px);
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 30px;
  border-radius: 16px;
}
.strawberry9 {
  position: absolute;
  top: 38px;
  left: 2px;
  width: 89px;
  height: 14px;
  transform: translate(0.20299999999999985px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__cDj5P {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 14px;
  color: rgba(251, 89, 140, 1);
}
.div117 {
  width: 91px;
  height: 52px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.label18 {
  background: url("/plasmic/masteri_sparq/images/label4.png") 3px 3px / 26px 26px no-repeat;
  transform: translate(-0.5px, 0px);
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 30px;
  border-radius: 16px;
}
.vanilla9 {
  position: absolute;
  top: 38px;
  left: 18px;
  width: 58px;
  height: 14px;
  transform: translate(-0.015999999999998238px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___8L16M {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 14px;
  color: rgba(225, 195, 164, 1);
}
.div118 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
  min-width: 0;
}
.buttonAddToCart43324944548532 {
  background: rgba(208, 103, 38, 1);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  padding: 13px 125px 12px 145px;
}
.text__oiwk {
  display: block;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
