.section3 {
  background: rgba(250, 250, 248, 1);
  transform: translate(0px, -0.2820000000001528px);
  width: 320px;
  height: 997px;
  display: block;
  position: relative;
}
.div210 {
  width: 320px;
  height: 950px;
  display: block;
  position: absolute;
  top: 47px;
  left: 0px;
}
.promissoryCommitment3 {
  position: absolute;
  top: -3px;
  left: 63px;
  width: 194px;
  height: 59px;
  transform: translate(0.375px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__zzVEy {
  display: block;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 27px;
  color: rgba(102, 102, 102, 1);
}
.div211 {
  width: 320px;
  height: 836px;
  display: block;
  position: absolute;
  top: 114px;
  left: 0px;
}
.div212 {
  width: 320px;
  height: 189px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.safetyPractices480X480Png3 {
  background: url("/plasmic/masteri_sparq/images/safetyPractices480X480Png.png") 0px 0px / 32px 32px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 144px;
}
.safetyPractices3 {
  position: absolute;
  top: 48px;
  left: 102px;
  width: 117px;
  height: 18px;
  transform: translate(-0.031999999999996476px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__jnGua {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
  color: rgba(102, 102, 102, 1);
}
.weLiveByTheHippocraticOathFirstDoNoHarmOurProductsAreMadeWithoutNicotineOrHarmfulChemicals3 {
  position: absolute;
  top: 84px;
  left: 32px;
  width: 258px;
  height: 56px;
  transform: translate(-0.5px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__c4PAk {
  display: block;
  font-size: 16.875px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
}
.div213 {
  width: 320px;
  height: 229px;
  display: block;
  position: absolute;
  top: 189px;
  left: 0px;
}
.extensiveScientificResearch480X480Png3 {
  background: url("/plasmic/masteri_sparq/images/extensiveScientificResearch480X480Png.png") 0px 0px / 32px 32px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 144px;
}
.extensiveScientificResearch3 {
  position: absolute;
  top: 48px;
  left: 53px;
  width: 214px;
  height: 18px;
  transform: translate(0.3119999999999976px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__noVgm {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
  color: rgba(102, 102, 102, 1);
}
.weEnsureAllOurProductsAreFormulatedUnderTheDirectionOfARenownedInhalationToxicologistAndTestedByAnIsoAccreditedIndependentLaboratory3 {
  position: absolute;
  top: 84px;
  left: 40px;
  width: 240px;
  height: 96px;
  transform: translate(0.4059999999999988px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nfkaj {
  display: block;
  font-size: 16.875px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
}
.div214 {
  width: 320px;
  height: 209px;
  display: block;
  position: absolute;
  top: 418px;
  left: 0px;
}
.environmentallyResponsible480X480Png3 {
  background: url("/plasmic/masteri_sparq/images/environmentallyResponsible480X480Png.png") 0px 0px / 32px 32px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 144px;
}
.environmentallyResponsible3 {
  position: absolute;
  top: 48px;
  left: 52px;
  width: 217px;
  height: 18px;
  transform: translate(-0.23499999999999943px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__obWhJ {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
  color: rgba(102, 102, 102, 1);
}
.weSeekToInspireACultureOfEnvironmentalSensitivityThroughSustainableProductDesignAndEthicalBusinessPractices3 {
  position: absolute;
  top: 84px;
  left: 36px;
  width: 248px;
  height: 76px;
  transform: translate(0.3430000000000035px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__qTqbC {
  display: block;
  font-size: 16.875px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
}
.div215 {
  width: 320px;
  height: 209px;
  display: block;
  position: absolute;
  top: 627px;
  left: 0px;
}
.givingBack480X480Png3 {
  background: url("/plasmic/masteri_sparq/images/givingBack480X480Png.png") 0px 0px / 32px 32px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 144px;
}
.givingBack3 {
  position: absolute;
  top: 48px;
  left: 117px;
  width: 87px;
  height: 18px;
  transform: translate(-0.375px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__ym9GS {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
  color: rgba(102, 102, 102, 1);
}
.weUseAPercentageOfYourPurchaseToEmpowerInnovativeStartUpsToSolveHumanitysMostPressingEnvironmentalChallenges3 {
  position: absolute;
  top: 84px;
  left: 31px;
  width: 259px;
  height: 76px;
  transform: translate(0.015000000000000568px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__qilwU {
  display: block;
  font-size: 16.875px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
}
