.div171 {
  transform: translate(0px, 0.2179999999999609px);
  width: 300px;
  display: block;
  position: relative;
}
.a16 {
  background: linear-gradient(
      90deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(242, 242, 242, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  width: 300px;
  height: 441px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.productPureCca9Dd58D8Da49AcB531F6Abd24468Da250X2502Xjpg3 {
  background: url("/plasmic/masteri_sparq/images/productPureCca9Dd58D8Da49AcB531F6Abd24468Da250X2502Xjpg.png") 0px 0px / 300px 342px no-repeat;
  width: 300px;
  height: 343px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.div172 {
  transform: translate(0px, 0.45299999999997453px);
  width: 300px;
  height: 105px;
  display: block;
  position: absolute;
  top: 336px;
  left: 0px;
}
.text__nZPvf {
  display: block;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17.6px;
  color: rgba(54, 46, 44, 1);
  position: absolute;
  top: 0px;
  left: 129px;
  transform: translate(0.26499999999998636px, 0px);
}
._43Rating447Votes12 {
  transform: translate(0px, -0.40700000000000003px);
  width: 300px;
  height: 20px;
  display: block;
  position: absolute;
  top: 18px;
  left: 0px;
}
.i56 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 102px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__wffxz {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i57 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 115px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__i4Aj8 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i58 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 128px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__sqA1T {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i59 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 141px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__atmdn {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.i60 {
  transform: translate(-0.4689999999999941px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 2px;
  left: 154px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__qggB {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(51, 121, 182, 1);
  position: relative;
}
.text__jNuqE {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(51, 121, 182, 1);
  position: absolute;
  top: 0px;
  left: 169px;
  transform: translate(-0.1570000000000107px, 0px);
}
.text___3CSyy {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 21.428px;
  color: rgba(89, 89, 88, 1);
  position: absolute;
  top: 41px;
  left: 134px;
  transform: translate(-0.3129999999999882px, -0.4069999999999965px);
}
.div173 {
  transform: translate(0px, 0.3430000000000035px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 62px;
  left: 0px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 117.625px;
  padding-right: 118.375px;
}
.text__lde9Z {
  display: block;
  font-size: 10.187px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 17.41px;
  color: rgba(102, 102, 102, 1);
  position: relative;
}
.form12 {
  transform: translate(0px, -0.20400000000000773px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 441px;
  left: 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div174 {
  background: linear-gradient(
      90deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(242, 242, 242, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 10px;
}
.div175 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 20px;
}
.div175 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 1.421px);
  height: calc(100% + 1.421px);
}
.div175 > :global(.__wab_flex-container) > *,
.div175 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.div175 > :global(.__wab_flex-container) > picture > img,
.div175
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1.421px;
}
.text__bhiG {
  display: block;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 21.428px;
  color: rgba(102, 102, 102, 1);
  position: relative;
}
.div176 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 42.343px;
  padding-right: 42.546px;
  padding-bottom: 20px;
}
.div176 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 25.109px);
  width: calc(100% + 25.109px);
}
.div176 > :global(.__wab_flex-container) > *,
.div176 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.div176 > :global(.__wab_flex-container) > picture > img,
.div176
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25.109px;
}
.div177 {
  width: 99px;
  height: 52px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.label23 {
  background: url("/plasmic/masteri_sparq/images/label.png") 3px 3px / 26px 26px no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(251, 89, 140, 1);
  transform: translate(-0.5px, 0px);
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 34px;
  border-radius: 16px;
}
.strawberry12 {
  position: absolute;
  top: 38px;
  left: 10px;
  width: 89px;
  height: 14px;
  transform: translate(0.2029999999999994px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__xBjgX {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 14px;
  color: rgba(251, 89, 140, 1);
}
.div178 {
  width: 91px;
  height: 52px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.label24 {
  background: url("/plasmic/masteri_sparq/images/label4.png") 3px 3px / 26px 26px no-repeat;
  transform: translate(-0.5px, 0px);
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 30px;
  border-radius: 16px;
}
.vanilla12 {
  position: absolute;
  top: 38px;
  left: 22px;
  width: 58px;
  height: 14px;
  transform: translate(-0.015999999999998238px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___8Rdyc {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 14px;
  color: rgba(225, 195, 164, 1);
}
.div179 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
  min-width: 0;
}
.buttonAddToCart106242143483 {
  background: rgba(208, 103, 38, 1);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  padding: 13px 95.296px 12px 95.703px;
}
.text__m5XDy {
  display: block;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  margin-left: 10px;
}
