.review1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 20px;
}
.img__rEzsi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.img__rEzsi > picture > img {
  object-fit: cover;
}
.img__rEzsi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__mUYs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  margin-top: 15px;
  min-width: 0;
}
.img__wGsfY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__wGsfY > picture > img {
  object-fit: cover;
}
.img__wGsfY > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__nFhw3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 15px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.text__ulel {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 15px;
  color: #626262;
  font-style: italic;
  min-width: 0;
}
