.review4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  background: linear-gradient(#000000b3, #000000b3),
    url("/plasmic/masteri_sparq/images/_4B6E6Ed1Devicegif.gif") top 50% left 50% / cover repeat;
  height: auto;
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 40px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  margin-top: 0px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___6Vs6C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 15px;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.text__z42KL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
  padding-bottom: 0px;
  font-size: 39px;
  min-width: 0;
}
.text__zRmW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 15px;
  color: #626262;
  font-style: normal;
  font-size: 23px;
  min-width: 0;
}
