.div77 {
  width: 1200px;
  height: 164px;
  display: block;
  position: relative;
}
.breatheVitaminAir2 {
  position: absolute;
  top: -4px;
  left: 355px;
  width: 490px;
  height: 46px;
  transform: translate(0.46800000000001774px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___1Okji {
  display: block;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  letter-spacing: 3.7px;
  line-height: 39px;
  color: rgba(128, 119, 87, 1);
}
.div78 {
  width: 1200px;
  height: 79px;
  display: block;
  position: absolute;
  top: 62px;
  left: 0px;
}
.div79 {
  height: 90px;
  display: block;
  position: absolute;
  top: 0px;
  left: 251px;
  right: 775px;
}
.smokingIconAc8544Ef2A784A929740Ba3C7312E5C5480X480Png2 {
  background: url("/plasmic/masteri_sparq/images/smokingIconAc8544Ef2A784A929740Ba3C7312E5C5480X480Png.png") 0px 0px / 45px 45px no-repeat;
  transform: translate(-0.25px, 0px);
  width: 45px;
  height: 45px;
  display: block;
  position: absolute;
  top: 0px;
  left: 65px;
}
._0Nicotine2 {
  position: absolute;
  top: 56px;
  left: 34px;
  width: 106px;
  height: 22px;
  transform: translate(0.4209999999999994px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__cHceg {
  display: block;
  font-size: 22px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 24.2px;
  color: rgba(147, 137, 106, 1);
}
.div80 {
  transform: translate(-0.5px, 0px);
  height: 90px;
  display: block;
  position: absolute;
  top: 0px;
  left: 426px;
  right: 600px;
}
.beakerIcon09Efe31Cb2E44C7F8A8Ff564E86Fe6E1480X480Png2 {
  background: url("/plasmic/masteri_sparq/images/beakerIcon09Efe31CB2E44C7F8A8FF564E86Fe6E1480X480Png.png") 0px 0px / 45px 45px no-repeat;
  transform: translate(-0.25px, 0px);
  width: 45px;
  height: 45px;
  display: block;
  position: absolute;
  top: 0px;
  left: 65px;
}
.labTested2 {
  position: absolute;
  top: 56px;
  left: 42px;
  width: 91px;
  height: 22px;
  transform: translate(0.125px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___3DhZc {
  display: block;
  font-size: 22px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 24.2px;
  color: rgba(147, 137, 106, 1);
}
.div81 {
  height: 90px;
  display: block;
  position: absolute;
  top: 0px;
  left: 600px;
  right: 426px;
}
.pillsIcon73726148C05B472793782519623Fd4A0480X480Png2 {
  background: url("/plasmic/masteri_sparq/images/pillsIcon73726148C05B472793782519623Fd4A0480X480Png.png") 0px 0px / 45px 45px no-repeat;
  transform: translate(-0.25px, 0px);
  width: 45px;
  height: 45px;
  display: block;
  position: absolute;
  top: 0px;
  left: 65px;
}
.vitamins2 {
  position: absolute;
  top: 56px;
  left: 49px;
  width: 76px;
  height: 22px;
  transform: translate(0.4680000000000035px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__vkGa1 {
  display: block;
  font-size: 22px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 24.2px;
  color: rgba(147, 137, 106, 1);
}
.div82 {
  transform: translate(-0.5px, 0px);
  height: 90px;
  display: block;
  position: absolute;
  top: 0px;
  left: 775px;
  right: 251px;
}
.recycleIcon1607Fa063A4B4D0Ba0A61Cd803B18C85480X480Png2 {
  background: url("/plasmic/masteri_sparq/images/recycleIcon1607Fa063A4B4D0BA0A61Cd803B18C85480X480Png.png") 0px 0px / 45px 45px no-repeat;
  transform: translate(-0.25px, 0px);
  width: 45px;
  height: 45px;
  display: block;
  position: absolute;
  top: 0px;
  left: 65px;
}
.recyclable2 {
  position: absolute;
  top: 56px;
  left: 43px;
  width: 89px;
  height: 22px;
  transform: translate(0.015000000000000568px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__boLNm {
  display: block;
  font-size: 22px;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 24.2px;
  color: rgba(147, 137, 106, 1);
}
